In [1]:
import csv
import pandas
import string
import warnings
import os
import re
from datetime import datetime
from pprint import pprint
warnings.filterwarnings("ignore")

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
! pip install spacy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: spacy in /usr/local/lib/python3.7/dist-packages (2.2.4)
Requirement already satisfied: srsly<1.1.0,>=1.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy) (1.0.5)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (2.23.0)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy) (3.0.6)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from spacy) (57.4.0)
Requirement already satisfied: catalogue<1.1.0,>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from spacy) (1.0.0)
Requirement already satisfied: plac<1.2.0,>=0.9.6 in /usr/local/lib/python3.7/dist-packages (from spacy) (1.1.3)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (0.9.1)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (1.0.7)
Requirement already satisfied: thinc==7.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (7.4.0)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (4.64.0)
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (1.21.6)
Requirement already satisfied: blis<0.5.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (0.4.1)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy) (2.0.6)
Requirement already satisfied: importlib-metadata>=0.20 in /usr/local/lib/python3.7/dist-packages (from catalogue<1.1.0,>=0.0.7->spacy) (4.11.3)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=0.20->catalogue<1.1.0,>=0.0.7->spacy) (4.2.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=0.20->catalogue<1.1.0,>=0.0.7->spacy) (3.8.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (2022.5.18.1)

In [4]:
! pip install openpyxl==3.0.9

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting openpyxl==3.0.9
  Downloading openpyxl-3.0.9-py2.py3-none-any.whl (242 kB)
     |████████████████████████████████| 242 kB 26.1 MB/s
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl==3.0.9) (1.1.0)
Installing collected packages: openpyxl
  Attempting uninstall: openpyxl
    Found existing installation: openpyxl 3.0.10
    Uninstalling openpyxl-3.0.10:
      Successfully uninstalled openpyxl-3.0.10
Successfully installed openpyxl-3.0.9

In [5]:
data = pandas.read_excel('drive/MyDrive/Exam2020_Task_7_Essays_mistakes_table.xlsx')

In [ ]:
sentences = pandas.read_excel('drive/MyDrive/Exam2020_Task_7_Essays_tokenized_text_table.xlsx')

In [ ]:
punctuation = data.loc[data['mistake_type'] == 'punct']

In [ ]:
punctuation.loc[(punctuation.correction == 'none'), 'correction'] = ''

In [ ]:
def get_text(text_id, sentence_id):
    text = sentences[sentences['text_id'] == text_id]
    text = text.loc[text['sentence_id'].isin([sentence_id, sentence_id+1])]
    
    words = list(text.token)
    ids = list(text.token_id)
    d = {}

    for el in range(len(words)):
      if isinstance(words[el],datetime):
        return [text_id, sentence_id]
      else:
        d[ids[el]] = str(words[el])

    words = [str(i) for i in words]
    text  = ' '.join(words)
    for k in string.punctuation: 
      if k != '(':
        text = text.replace(f' {k}',k)
      elif k == '(':
        text = text.replace(f'{k} ',k)

    return text, d

In [ ]:
full_texts = []
tokens_ids = []
for el in range(len(punctuation.text_id)):
  full_texts.append(get_text(list(punctuation.text_id)[el], list(punctuation.sentence_id)[el])[0])
  tokens_ids.append(get_text(list(punctuation.text_id)[el], list(punctuation.sentence_id)[el])[1])

In [ ]:
punctuation['full_text'] = full_texts

In [ ]:
punctuation['tokens_ids'] = tokens_ids

In [ ]:
strange_cases = []
for el in punctuation.values:
  if el[0] == el[6]:
    if el[1] == el[7]:
      strange_cases.append(el)

In [ ]:
strange_cases = pandas.DataFrame(strange_cases)
strange_cases.rename(columns = {0: 'text_id', 1 : 'sentence_id', 2 : 'token_id', 3 : 'mistake_type', 4 : 'error_span', 5 : 'correction', 6 : 'full_text', 7 : 'tokens_ids'}, inplace = True)

In [ ]:
punctuation = punctuation[punctuation['full_text'].apply(lambda x: x not in strange_cases['full_text'].values)]

In [ ]:
import spacy
from spacy.tokenizer import Tokenizer
from spacy.lang.char_classes import ALPHA, ALPHA_LOWER, ALPHA_UPPER, CONCAT_QUOTES, LIST_ELLIPSES, LIST_ICONS
from spacy.util import compile_infix_regex

def custom_tokenizer(nlp):
    infixes = (
        LIST_ELLIPSES
        + LIST_ICONS
        + [
            r"(?<=[0-9])[+\-\*^](?=[0-9-])",
            r"(?<=[{al}{q}])\.(?=[{au}{q}])".format(
                al=ALPHA_LOWER, au=ALPHA_UPPER, q=CONCAT_QUOTES
            ),
            r"(?<=[{a}]),(?=[{a}])".format(a=ALPHA),
            #r"(?<=[{a}])(?:{h})(?=[{a}])".format(a=ALPHA, h=HYPHENS),
            r"(?<=[{a}0-9])[:<>=/](?=[{a}])".format(a=ALPHA),
        ]
    )

    infix_re = compile_infix_regex(infixes)

    return Tokenizer(nlp.vocab, prefix_search=nlp.tokenizer.prefix_search,
                                suffix_search=nlp.tokenizer.suffix_search,
                                infix_finditer=infix_re.finditer,
                                token_match=nlp.tokenizer.token_match,
                                rules=nlp.Defaults.tokenizer_exceptions)


nlp = spacy.load("en")
nlp.tokenizer = custom_tokenizer(nlp)

In [ ]:
dependencies = []
for el in list(punctuation['tokens_ids']):
  el = ' '.join(list(el.values()))
  doc = nlp(el)
  d = []
  for token in doc:
    d.append([token.text, token.pos_, token.tag_, token.dep_])
  dependencies.append(d)

In [ ]:
  norm_values = []
  norm_deps = []
  strange_values = []
  strange_deps = []
  for i in range(len(dependencies)):
    if len(dependencies[i]) == len(punctuation.values[i][-1].values()):
      norm_values.append(punctuation.values[i])
      norm_deps.append(dependencies[i])
    else:
      strange_values.append(punctuation.values[i])
      strange_deps.append(dependencies[i])

In [ ]:
def get_new_dependencies(dependencies, punct):
    new_depends = dependencies
    for k in range(len(dependencies)):
      new_d = []
      if dependencies[k][0].isnumeric():
        if dependencies[k+1][0] == '-':
          if dependencies[k+2][0].isnumeric:
            word = ''.join([dependencies[k][0],dependencies[k+1][0],dependencies[k+2][0]])
            poses = ' '.join([dependencies[k][1],dependencies[k+1][1],dependencies[k+2][1]])
            tags = ' '.join([dependencies[k][2],dependencies[k+1][2],dependencies[k+2][2]])
            deps = ' '.join([dependencies[k][3],dependencies[k+1][3],dependencies[k+2][3]])
            new_d.append(word)
            new_d.append(poses)
            new_d.append(tags)
            new_d.append(deps)
            index = k
            break
          
      
            new_depends.insert(index, new_d)
            new_depends.pop(index+1)
            new_depends.pop(index+1)
            new_depends.pop(index+1)
      elif dependencies[i][k][0] == 'I':
        if dependencies[i][k+1][0] =='"':
          if dependencies[i][k+1][0] =='m':
            word = ''.join([dependencies[i][k][0],dependencies[i][k+1][0]])
            poses = ' '.join([dependencies[i][k][1],dependencies[i][k+1][1]])
            tags = ' '.join([dependencies[i][k][2],dependencies[i][k+1][2]])
            deps = ' '.join([dependencies[i][k][3],dependencies[i][k+1][3]])
            new_d.append(word)
            new_d.append(poses)
            new_d.append(tags)
            new_d.append(deps)
            index = k
            break
            new_depends.insert(index, new_d)
            new_depends.pop(index+1)
            new_depends.pop(index+1)

      elif dependencies[k][0] == 'should':
        if dependencies[k+1][0] =='nt':
          word = ''.join([dependencies[k][0],dependencies[i][k+1][0]])
          poses = ' '.join([dependencies[i][k][1],dependencies[i][k+1][1]])
          tags = ' '.join([dependencies[i][k][2],dependencies[i][k+1][2]])
          deps = ' '.join([dependencies[i][k][3],dependencies[i][k+1][3]])
          new_d.append(word)
          new_d.append(poses)
          new_d.append(tags)
          new_d.append(deps)
          index = k
          break
          new_depends.insert(index, new_d)
          new_depends.pop(index+1)
          new_depends.pop(index+1)

      elif dependencies[k][0] == 'That':
        if dependencies[k+1][0] =='s':
          word = ''.join([dependencies[i][k][0],dependencies[i][k+1][0]])
          poses = ' '.join([dependencies[i][k][1],dependencies[i][k+1][1]])
          tags = ' '.join([dependencies[i][k][2],dependencies[i][k+1][2]])
          deps = ' '.join([dependencies[i][k][3],dependencies[i][k+1][3]])
          new_d.append(word)
          new_d.append(poses)
          new_d.append(tags)
          new_d.append(deps)
          index = k
          break
          new_depends.insert(index, new_d)
          new_depends.pop(index+1)
          new_depends.pop(index+1)

      elif dependencies[i][k][0] == 'that':
        if dependencies[i][k+1][0] == 's':
          word = ''.join([dependencies[i][k][0],dependencies[i][k+1][0]])
          poses = ' '.join([dependencies[i][k][1],dependencies[i][k+1][1]])
          tags = ' '.join([dependencies[i][k][2],dependencies[i][k+1][2]])
          deps = ' '.join([dependencies[i][k][3],dependencies[i][k+1][3]])
          new_d.append(word)
          new_d.append(poses)
          new_d.append(tags)
          new_d.append(deps)
          index = k
          break
          new_depends.insert(index, new_d)
          new_depends.pop(index+1)
          new_depends.pop(index+1)

      elif dependencies[i][k][0] == 'can':
        if dependencies[i][k+1][0] == 't':
          word = ''.join([dependencies[i][k][0],dependencies[i][k+1][0]])
          poses = ' '.join([dependencies[i][k][1],dependencies[i][k+1][1]])
          tags = ' '.join([dependencies[i][k][2],dependencies[i][k+1][2]])
          deps = ' '.join([dependencies[i][k][3],dependencies[i][k+1][3]])
          new_d.append(word)
          new_d.append(poses)
          new_d.append(tags)
          new_d.append(deps)
          index = k
          break
          new_depends.insert(index, new_d)
          new_depends.pop(index+1)
          new_depends.pop(index+1)

In [ ]:
norm_values = pandas.DataFrame(norm_values)
norm_values.rename(columns = {0: 'text_id', 1 : 'sentence_id', 2 : 'token_id', 3 : 'mistake_type', 4 : 'error_span', 5 : 'correction', 6 : 'full_text', 7 : 'tokens_ids'}, inplace = True)

In [ ]:
dicts_of_deps = []
for i, b in enumerate(norm_values.values):
  d_v = {}
  for k in range(len(list(b[7].keys()))):
    d_v[list(b[7].keys())[k]] = norm_deps[i][k]
  dicts_of_deps.append(d_v)

In [ ]:
norm_values['dependencies'] = dicts_of_deps

In [ ]:
norm_values

In [ ]:
def get_clean_text(sample):
  id = int(sample[2])
  change = sample[4]
  if isinstance(change, float):
    change = str(int(change))
  else:
    change = change
  rechange = sample[5]
  change = re.findall(r"[\w']+|[.,!?;()%]", str(change))
  rechange2 = re.findall(r"[\w']+|[.,!?;()%]", str(rechange))

  change_len = len(change)
  text_with_ids = sample[7]
  end = id + change_len 
  
  all_words = []
  for el in list(text_with_ids.keys()):
    try:
      if el not in [i for i in range(id,end)]:
        all_words.append(str(text_with_ids[el]))
      elif all_words[-1] != rechange:
        all_words.append(str(rechange))

    except IndexError:
      if len(all_words) == 0:
        all_words.append(str(rechange))
  final_text = ' '.join(all_words)
  for k in string.punctuation: 
      if k != '(':
        final_text = final_text.replace(f' {k}',k)
      elif k == '(':
        final_text = final_text.replace(f'{k} ',k)

  final_text2 = re.findall(r"[\w']+|[.,!?;()%]", str(final_text))
  dict_words_clean = {}
  ids_clean = [i for i in range(list((text_with_ids.keys()))[0], len(final_text2) + list(text_with_ids.keys())[0])]

  for k in range(len(ids_clean)):
    dict_words_clean[ids_clean[k]] = final_text2[k]

  return final_text, dict_words_clean

In [25]:
corrected_text = []
corrected_with_ids = []
for element in norm_values.values:
  corrected_text.append(get_clean_text(element)[0])
  corrected_with_ids.append(get_clean_text(element)[1])

In [26]:
norm_values['corrected_text'] = corrected_text

In [27]:
norm_values['corrected_with_ids'] = corrected_with_ids

In [28]:
dependencies_heptabot = []

for el in norm_values.values:
  el = ' '.join(list(el[10].values()))

  doc = nlp(el)
  d = []
  for token in doc:
    d.append([token.text, token.pos_, token.tag_, token.dep_])
  dependencies_heptabot.append(d)

In [29]:
dicts_of_deps_heptabot = []
for i, b in enumerate(norm_values.values):
  d_v = {}
  for k in range(len(list(b[10].keys()))):
    d_v[list(b[10].keys())[k]] = dependencies_heptabot[i][k]
  dicts_of_deps_heptabot.append(d_v)

In [30]:
norm_values['dependencies_heptabot'] = dicts_of_deps_heptabot

In [31]:
punctuation_all = punctuation

In [32]:
punctuation = norm_values

In [33]:
punctuation.loc[(punctuation.correction == 'none'), 'correction'] = ''

## Articles:

In [34]:
bool_series = punctuation["correction"].str.lower().str.endswith('the', na = False)
  
articles_mistakes = punctuation[bool_series]

In [35]:
articles_a_the = []
for el in articles_mistakes.values:
  if 'an' in str(el[4]).split():
    if 'the' in str(el[5]).split():
      articles_a_the.append(el)
  elif 'a' in str(el[4]).split():
    if 'the' in str(el[5]).split():
      articles_a_the.append(el)
  elif 'the' in str(el[4]).split():
    if 'a' in str(el[5]).split():
      articles_a_the.append(el)
  elif 'the' in str(el[4]).split():
    if 'an' in str(el[5]).split():
      articles_a_the.append(el)

In [36]:
articles_a_the = pandas.DataFrame(articles_a_the)
articles_a_the.rename(columns = {0: 'text_id', 1 : 'sentence_id', 2 : 'token_id', 3 : 'mistake_type', 4 : 'error_span', 5 : 'correction', 6 : 'full_text', 7 : 'tokens_ids', 
                               8 : 'dependencies', 9 : 'corrected_text', 10 : 'corrected_with_ids', 11 : 'dependencies_heptabot'}, inplace = True)
articles_a_the = articles_a_the.drop_duplicates(subset=['corrected_text'], ignore_index=True)

In [37]:
articles_a_the

,text_id,sentence_id,token_id,mistake_type,error_span,correction,full_text,tokens_ids,dependencies,corrected_text,corrected_with_ids,dependencies_heptabot
0,440.0,10.0,213.0,punct,a,", the",As an example a quick increase of literacy in ...,"{210: 'As', 211: 'an', 212: 'example', 213: 'a...","{210: ['As', 'SCONJ', 'IN', 'prep'], 211: ['an...","As an example, the quick increase of literacy ...","{210: 'As', 211: 'an', 212: 'example', 213: ',...","{210: ['As', 'SCONJ', 'IN', 'prep'], 211: ['an..."
1,701.0,10.0,172.0,punct,an,", the","From the other hand, if talk about university ...","{162: 'From', 163: 'the', 164: 'other', 165: '...","{162: ['From', 'ADP', 'IN', 'prep'], 163: ['th...","From the other hand, if talk about university ...","{162: 'From', 163: 'the', 164: 'other', 165: '...","{162: ['From', 'ADP', 'IN', 'prep'], 163: ['th..."

In [38]:
def change_articles_a_the(sample):
  tag = 'punctuation'
  pprint("USER'S TEXT: " + sample[6])
  pprint('CORRECTED TEXT: ' + str(sample[9]))


  i = list(sample[7].keys())[0]
  index1 = list(sample[7].keys())[0]
  while i != sample[2]:
    i += 1
    if sample[7][i] == ',':
      index1 = i + 1
  index2 = int(sample[2]) 



  indexes = range(index1, index2)
  error_area = []
  for b in indexes:
    error_area.append(str(sample[7][b]))

  

  pprint('CORRECTION: ' + ' '.join(error_area) + ',')
  pprint('ERROR AREA: '+ ' '.join(error_area))
  pprint('TAG: ' + tag)

  tag = 'articles'
  article = re.findall(r'[a-zA-Z]+', str(sample[5]))[0]
  correction = [article, str(sample[7][int(sample[2])+1])]
  error_area = [sample[7][int(sample[2])], sample[7][int(sample[2])+1]]
  pprint('CORRECTION: ' + ' '.join(correction))
  pprint('ERROR AREA: '+ ' '.join(error_area))
  pprint('TAG: ' + tag)

In [39]:
#for el in articles_a_the.values:
#  change_articles_a_the(el)

In [40]:
articles_mistakes = articles_mistakes[articles_mistakes['corrected_text'].apply(lambda x: x not in articles_a_the['corrected_text'].values)]

In [41]:
punctuation = punctuation[punctuation['corrected_text'].apply(lambda x: x not in articles_a_the['corrected_text'].values)]

In [42]:
articles_without_punct = []
for el in articles_mistakes.values:
  for i in string.punctuation:
    if i not in str(el[4]):
      if i in str(el[5]):
        articles_without_punct.append(el)

In [43]:
articles_without_punct = pandas.DataFrame(articles_without_punct)
articles_without_punct.rename(columns = {0: 'text_id', 1 : 'sentence_id', 2 : 'token_id', 3 : 'mistake_type', 4 : 'error_span', 5 : 'correction', 6 : 'full_text', 7 : 'tokens_ids', 
                               8 : 'dependencies', 9 : 'corrected_text', 10 : 'corrected_with_ids', 11 : 'dependencies_heptabot'}, inplace = True)
articles_without_punct = articles_without_punct.drop_duplicates(subset=['corrected_text'], ignore_index=True)

In [44]:
def articles_correction_commas(sample):

  tag = 'punctuation'
  pprint("USER'S TEXT: " + sample[6])
  pprint('CORRECTED TEXT: ' + str(sample[9]))
  i = list(sample[7].keys())[0]
  index1 = list(sample[7].keys())[0]
  while i != sample[2]:
    i += 1
    if sample[7][i] == ',':
      index1 = i + 1

  index2 = int(sample[2]) + 1
  indexes = range(index1, index2)

  error_area = []
  for b in indexes:
    error_area.append(str(sample[7][b]))

  pprint('CORRECTION: ' + ' '.join(error_area) + ',')
  pprint('ERROR AREA: '+ ' '.join(error_area))
  pprint('TAG: ' + tag)


  error_area2 = []
  tag = 'articles'
  indexes = []
  ind = int(sample[2]+1)
  while not (sample[8][ind][1] == 'NOUN' or sample[8][ind][1] == 'PROPN'):
    indexes.append(ind)
    ind += 1
  indexes.append(ind)
      

  for b in indexes:
    error_area2.append(str(sample[7][b]))
  pprint('ERROR AREA: '+ ' '.join(error_area2))
  pprint('CORRECTION: ' + 'the ' + ' '.join(error_area2))
  pprint('TAG: ' + tag) 
  print('\n')

In [45]:
#for el in articles_without_punct.values:
#  articles_correction_commas(el)

In [46]:
articles_mistakes = articles_mistakes[articles_mistakes['corrected_text'].apply(lambda x: x not in articles_without_punct['corrected_text'].values)]

In [47]:
punctuation = punctuation[punctuation['corrected_text'].apply(lambda x: x not in articles_without_punct['corrected_text'].values)]

In [48]:
articles_with_the = []
for el in articles_mistakes.values:
  if 'and' in str(el[5]):
    if 'the' in str(el[5]):
      articles_with_the.append(el)

In [49]:
articles_with_the = pandas.DataFrame(articles_with_the)
articles_with_the.rename(columns = {0: 'text_id', 1 : 'sentence_id', 2 : 'token_id', 3 : 'mistake_type', 4 : 'error_span', 5 : 'correction', 6 : 'full_text', 7 : 'tokens_ids', 
                               8 : 'dependencies', 9 : 'corrected_text', 10 : 'corrected_with_ids', 11 : 'dependencies_heptabot'}, inplace = True)
articles_with_the = articles_with_the.drop_duplicates(subset=['corrected_text'], ignore_index=True)

In [50]:
def articles_correction_dots(sample):
  element = str(el[4])
  f = re.findall(r'[a-zA-Z]+', element)
  a = re.findall(r'\d+', element)
  k = re.findall(r'\W', element)
  all = f+a+k
  if ' ' in all:
    all.remove(' ')

  length = len(all)

  indexes = []
  ind = int(sample[2]+length)
  while not (sample[8][ind][1] == 'NOUN' or sample[8][ind][1] == 'PROPN'):
    indexes.append(ind)
    ind += 1
  indexes.append(ind)

  error_area = []
  for i in indexes:
    error_area.append(sample[7][i])

  tag = 'articles'
  pprint('CORRECTION: ' + 'the ' + ' '.join(error_area))
  pprint('ERROR AREA: '+ str(sample[7][int(sample[2])+length]))
  pprint('TAG: ' + tag)

  tag = 'Absence of a component in clause or sentence'
  pprint('CORRECTION: ' + str(sample[7][int(sample[2])]) + ', and')
  pprint('ERROR AREA: '+ str(sample[7][int(sample[2])]))
  pprint('TAG: ' + tag)

In [51]:
#for el in articles_with_the.values:
#  articles_correction_dots(el)

In [52]:
articles_mistakes = articles_mistakes[articles_mistakes['corrected_text'].apply(lambda x: x not in articles_with_the['corrected_text'].values)]

In [53]:
punctuation = punctuation[punctuation['corrected_text'].apply(lambda x: x not in articles_with_the['corrected_text'].values)]

## Commas are changed with dots:

In [54]:
bool_series = punctuation["error_span"].str.lower().str.endswith(',', na = False)
commas_dot = punctuation[bool_series]
bool_series = commas_dot['correction'].str.endswith('.', na = False)
commas_dot = commas_dot[bool_series]

In [55]:
# это первое
def checking_commas_dots(sample):
  tag = 'punctuation'
  parts_of_sentences = ['ROOT', 'relcl', 'nsubj', 'expl', 'conj', 'ccomp', 'aux', 
                      'neg', 'nsubjpass','punct','intj', 'acl']

  all_sents = []
  first_sent = []
  for el in sample[11].values():
    if el[-1] in parts_of_sentences:
      all_sents.append(el)

  for i in all_sents:
    first_sent.append(i)
    if i[0] == '.':
      ind = all_sents.index(i)
      break
      
  second_sent = all_sents[ind::]
  del first_sent[-1]

  if len(first_sent) >= 4:
    pass

  else:
    parts_of_sentences2 = ['nsubj','ROOT', 'expl']
    sent = []
    for el in first_sent:
      if el in parts_of_sentences2:
        sent.append(el)
        if len(sent) >= 2:
          pass

  index1 = int(list(sample[8].keys())[0])
  index2 = int(sample[2]) + 1
  indexes = range(index1, index2)
  error_area = [sample[7][i] for i in indexes]

  print("USER'S TEXT: " + sample[6])
  print('CORRECTED TEXT: ' + str(sample[9]))

  pprint('CORRECTION: ' + ' '.join(error_area[0:-1]) + '.')
  pprint('ERROR AREA: '+ ' '.join(error_area))
  pprint('TAG: ' + tag)

In [56]:
#for el in commas_dot.values:
#  checking_commas_dots(el)

In [57]:
punctuation = punctuation[~punctuation.isin(commas_dot)].dropna()

In [58]:
numeral_procents = []
for el in punctuation.values:
  if str(el[4]).isnumeric():
    if str(el[5]).endswith('%'):
      numeral_procents.append(el)

In [59]:
numeral_procents = pandas.DataFrame(numeral_procents)
numeral_procents.rename(columns = {0: 'text_id', 1 : 'sentence_id', 2 : 'token_id', 3 : 'mistake_type', 4 : 'error_span', 5 : 'correction', 6 : 'full_text', 7 : 'tokens_ids', 
                               8 : 'dependencies', 9 : 'corrected_text', 10 : 'corrected_with_ids', 11 : 'dependencies_heptabot'}, inplace = True)
numeral_procents = numeral_procents.drop_duplicates(subset=['corrected_text'], ignore_index=True)

In [60]:
def num_procents(sample): 
  text = str(sample[5])
  find = re.findall(r"[\w']+|[.,!?;()%]", text)


  pprint("USER'S TEXT: " + sample[6])
  pprint('CORRECTED TEXT: ' + str(sample[9]))

  pprint('CORRECTION: ' + ''.join(find))
  pprint('ERROR AREA: '+ str(sample[7][sample[2]]))
  pprint('TAG: numerals')

In [61]:
#for el in numeral_procents.values:
#  num_procents(el)

In [62]:
punctuation = punctuation[punctuation['corrected_text'].apply(lambda x: x not in numeral_procents['corrected_text'].values)]

In [63]:
commas_delete = punctuation[punctuation.correction == '']
commas_delete = commas_delete[commas_delete.error_span == ',']
commas_delete

,text_id,sentence_id,token_id,mistake_type,error_span,correction,full_text,tokens_ids,dependencies,corrected_text,corrected_with_ids,dependencies_heptabot
172,14.0,2.0,22.0,punct,",",,Almost from start we already have some life's ...,"{12: 'Almost', 13: 'from', 14: 'start', 15: 'w...","{12: ['Almost', 'ADV', 'RB', 'advmod'], 13: ['...",Almost from start we already have some life's ...,"{12: 'Almost', 13: 'from', 14: 'start', 15: 'w...","{12: ['Almost', 'ADV', 'RB', 'advmod'], 13: ['..."
173,20.0,1.0,16.0,punct,",",,As many people values benefits and opportuniti...,"{1: 'As', 2: 'many', 3: 'people', 4: 'values',...","{1: ['As', 'SCONJ', 'IN', 'mark'], 2: ['many',...",As many people values benefits and opportuniti...,"{1: 'As', 2: 'many', 3: 'people', 4: 'values',...","{1: ['As', 'SCONJ', 'IN', 'mark'], 2: ['many',..."
174,44.0,2.0,44.0,punct,",",,"However, other think that education is a speci...","{30: 'However', 31: ',', 32: 'other', 33: 'thi...","{30: ['However', 'ADV', 'RB', 'advmod'], 31: [...","However, other think that education is a speci...","{30: 'However', 31: ',', 32: 'other', 33: 'thi...","{30: ['However', 'ADV', 'RB', 'advmod'], 31: [..."
175,44.0,14.0,270.0,punct,",",,"To conclude, education is an important both fo...","{260: 'To', 261: 'conclude', 262: ',', 263: 'e...","{260: ['To', 'PART', 'TO', 'aux'], 261: ['conc...","To conclude, education is an important both fo...","{260: 'To', 261: 'conclude', 262: ',', 263: 'e...","{260: ['To', 'PART', 'TO', 'aux'], 261: ['conc..."
176,48.0,8.0,158.0,punct,",",,"Another point of view, that I support, is that...","{154: 'Another', 155: 'point', 156: 'of', 157:...","{154: ['Another', 'DET', 'DT', 'det'], 155: ['...","Another point of view that I support, is that...","{154: 'Another', 155: 'point', 156: 'of', 157:...","{154: ['Another', 'DET', 'DT', 'det'], 155: ['..."
...,...,...,...,...,...,...,...,...,...,...,...,...
845,1696.0,9.0,205.0,punct,",",,"However, there are people, who think that stud...","{200: 'However', 201: ',', 202: 'there', 203: ...","{200: ['However', 'ADV', 'RB', 'advmod'], 201:...","However, there are people who think that stud...","{200: 'However', 201: ',', 202: 'there', 203: ...","{200: ['However', 'ADV', 'RB', 'advmod'], 201:..."
846,1697.0,3.0,55.0,punct,",",,"It is also clear, that the percentage differen...","{51: 'It', 52: 'is', 53: 'also', 54: 'clear', ...","{51: ['It', 'PRON', 'PRP', 'nsubj'], 52: ['is'...",It is also clear that the percentage differen...,"{51: 'It', 52: 'is', 53: 'also', 54: 'clear', ...","{51: ['It', 'PRON', 'PRP', 'nsubj'], 52: ['is'..."
847,1697.0,6.0,126.0,punct,",",,"It is significant, that the percentage differe...","{123: 'It', 124: 'is', 125: 'significant', 126...","{123: ['It', 'PRON', 'PRP', 'nsubj'], 124: ['i...",It is significant that the percentage differe...,"{123: 'It', 124: 'is', 125: 'significant', 126...","{123: ['It', 'PRON', 'PRP', 'nsubj'], 124: ['i..."
848,1698.0,4.0,79.0,punct,",",,"First of all, it seems to me, that the ability...","{71: 'First', 72: 'of', 73: 'all', 74: ',', 75...","{71: ['First', 'ADV', 'RB', 'advmod'], 72: ['o...","First of all, it seems to me that the ability...","{71: 'First', 72: 'of', 73: 'all', 74: ',', 75...","{71: ['First', 'ADV', 'RB', 'advmod'], 72: ['o..."
849,1698.0,10.0,231.0,punct,",",,However the variety of different governments g...,"{220: 'However', 221: 'the', 222: 'variety', 2...","{220: ['However', 'ADV', 'RB', 'advmod'], 221:...",However the variety of different governments g...,"{220: 'However', 221: 'the', 222: 'variety', 2...","{220: ['However', 'ADV', 'RB', 'advmod'], 221:..."

In [64]:
that_commas_delete = []
for el in commas_delete.values:
  if str(el[7][int(el[2])+1]) == 'that':
    that_commas_delete.append(el)

In [65]:
that_commas_delete = pandas.DataFrame(that_commas_delete)
that_commas_delete.rename(columns = {0: 'text_id', 1 : 'sentence_id', 2 : 'token_id', 3 : 'mistake_type', 4 : 'error_span', 5 : 'correction', 6 : 'full_text', 7 : 'tokens_ids', 
                               8 : 'dependencies', 9 : 'corrected_text', 10 : 'corrected_with_ids', 11 : 'dependencies_heptabot'}, inplace = True)
that_commas_delete = that_commas_delete.drop_duplicates(subset=['corrected_text'], ignore_index=True)

In [66]:
def change_relative_comma(sample):
  tag = 'relative clause'

  pprint("USER'S TEXT: " + sample[6])
  pprint('CORRECTED TEXT: ' + str(sample[9]))

  error_area = [str(el[7][int(el[2])]), str(el[7][int(el[2])+1])]
  pprint('ERROR AREA: ' + ' '.join(error_area))
  pprint('CORRECTION: '+ str(sample[7][int(sample[2]+1)]))
  pprint('TAG: ' + tag)

In [67]:
#for el in that_commas_delete.values:
#  change_relative_comma(el)

In [68]:
commas_delete = commas_delete[commas_delete['corrected_text'].apply(lambda x: x not in that_commas_delete['corrected_text'].values)]

In [69]:
punctuation = punctuation[punctuation['corrected_text'].apply(lambda x: x not in that_commas_delete['corrected_text'].values)]

In [70]:
whos_whichs_commas_delete = []
for el in commas_delete.values:
  if str(el[7][int(el[2])+1]) == 'who':
    whos_whichs_commas_delete.append(el)
  if str(el[7][int(el[2])+1]) == 'which':
    whos_whichs_commas_delete.append(el)

In [71]:
whos_whichs_commas_delete = pandas.DataFrame(whos_whichs_commas_delete)
whos_whichs_commas_delete.rename(columns = {0: 'text_id', 1 : 'sentence_id', 2 : 'token_id', 3 : 'mistake_type', 4 : 'error_span', 5 : 'correction', 6 : 'full_text', 7 : 'tokens_ids', 
                               8 : 'dependencies', 9 : 'corrected_text', 10 : 'corrected_with_ids', 11 : 'dependencies_heptabot'}, inplace = True)
whos_whichs_commas_delete = whos_whichs_commas_delete.drop_duplicates(subset=['corrected_text'], ignore_index=True)

Уточнить завтра

In [72]:
#for el in whos_whichs_commas_delete.values:
#  change_relative_comma(el)

In [73]:
commas_delete = commas_delete[commas_delete['corrected_text'].apply(lambda x: x not in whos_whichs_commas_delete['corrected_text'].values)]

In [74]:
punctuation = punctuation[punctuation['corrected_text'].apply(lambda x: x not in whos_whichs_commas_delete['corrected_text'].values)]

In [75]:
thans_commas_delete = []
for el in commas_delete.values:
  if str(el[7][int(el[2])+1]) == 'than':
    thans_commas_delete.append(el)

In [76]:
thans_commas_delete = pandas.DataFrame(thans_commas_delete)
thans_commas_delete.rename(columns = {0: 'text_id', 1 : 'sentence_id', 2 : 'token_id', 3 : 'mistake_type', 4 : 'error_span', 5 : 'correction', 6 : 'full_text', 7 : 'tokens_ids', 
                               8 : 'dependencies', 9 : 'corrected_text', 10 : 'corrected_with_ids', 11 : 'dependencies_heptabot'}, inplace = True)
thans_commas_delete = thans_commas_delete.drop_duplicates(subset=['corrected_text'], ignore_index=True)

In [77]:
#for el in thans_commas_delete.values:
#  change_relative_comma(el)

In [78]:
commas_delete = commas_delete[commas_delete['corrected_text'].apply(lambda x: x not in thans_commas_delete['corrected_text'].values)]

In [79]:
punctuation = punctuation[punctuation['corrected_text'].apply(lambda x: x not in thans_commas_delete['corrected_text'].values)]

In [80]:
conjunctions = []
for el in commas_delete.values:
  if el[8][int(el[2])+1][3] == 'advmod':
    conjunctions.append(el)

In [81]:
conjunctions = pandas.DataFrame(conjunctions)
conjunctions.rename(columns = {0: 'text_id', 1 : 'sentence_id', 2 : 'token_id', 3 : 'mistake_type', 4 : 'error_span', 5 : 'correction', 6 : 'full_text', 7 : 'tokens_ids', 
                               8 : 'dependencies', 9 : 'corrected_text', 10 : 'corrected_with_ids', 11 : 'dependencies_heptabot'}, inplace = True)
conjunctions = conjunctions.drop_duplicates(subset=['corrected_text'], ignore_index=True)

In [82]:
#for el in conjunctions.values:
#  change_relative_comma(el)

In [83]:
commas_delete = commas_delete[commas_delete['corrected_text'].apply(lambda x: x not in conjunctions['corrected_text'].values)]

In [84]:
punctuation = punctuation[punctuation['corrected_text'].apply(lambda x: x not in conjunctions['corrected_text'].values)]

In [85]:
sconjs = []
for el in commas_delete.values:
  if el[8][int(el[2])+1][1] == 'SCONJ':
    sconjs.append(el)

In [86]:
sconjs = pandas.DataFrame(sconjs)
sconjs.rename(columns = {0: 'text_id', 1 : 'sentence_id', 2 : 'token_id', 3 : 'mistake_type', 4 : 'error_span', 5 : 'correction', 6 : 'full_text', 7 : 'tokens_ids', 
                               8 : 'dependencies', 9 : 'corrected_text', 10 : 'corrected_with_ids', 11 : 'dependencies_heptabot'}, inplace = True)
sconjs = sconjs.drop_duplicates(subset=['corrected_text'], ignore_index=True)

In [87]:
#for el in sconjs.values:
#  change_relative_comma(el)

In [88]:
commas_delete = commas_delete[commas_delete['corrected_text'].apply(lambda x: x not in sconjs['corrected_text'].values)]

In [89]:
punctuation = punctuation[punctuation['corrected_text'].apply(lambda x: x not in sconjs['corrected_text'].values)]

In [90]:
def others_delete_commas(sample):

  tag = 'punctuation'
  pprint("USER'S TEXT: " + sample[6])
  pprint('CORRECTED TEXT: ' + str(sample[9]))
  i = list(sample[7].keys())[0]
  index1 = list(sample[7].keys())[0]
  while i != int(sample[2])-1:
    i += 1
    if sample[7][i] == ',':
      index1 = i +1

  index2 = int(sample[2]) + 1
  indexes = range(index1, index2)

  error_area = []
  for b in indexes:
    error_area.append(str(sample[7][b]))

  pprint('CORRECTION: ' + ' '.join(error_area[0:-1]))
  pprint('ERROR AREA: '+ ' '.join(error_area))
  pprint('TAG: ' + tag)

In [91]:
#for el in commas_delete.values:
#  others_delete_commas(el)

In [92]:
punctuation = punctuation[punctuation['corrected_text'].apply(lambda x: x not in commas_delete['corrected_text'].values)]

In [93]:
adding_commas = []
for el in punctuation.values:
  if str(el[4])[-1] != ',':
    if '.' not in str(el[4]):
      if str(el[4])[-1] != '.':
        if str(el[5]).endswith(','):
          adding_commas.append(el)

## Добавление запятых

Вводные слова

In [94]:
adding_commas = pandas.DataFrame(adding_commas)
adding_commas.rename(columns = {0: 'text_id', 1 : 'sentence_id', 2 : 'token_id', 3 : 'mistake_type', 4 : 'error_span', 5 : 'correction', 6 : 'full_text', 7 : 'tokens_ids', 
                               8 : 'dependencies', 9 : 'corrected_text', 10 : 'corrected_with_ids', 11 : 'dependencies_heptabot'}, inplace = True)
adding_commas = adding_commas.drop_duplicates(subset=['corrected_text'], ignore_index=True)

In [95]:
first_constructions = ['Besides that', 'Besides', 'To my mind', 'On the one hand', 'On the other hand', 'As a result', 'As a result of', 'As a consequence', 'As a consequence of', 
                       'First of all', 'First and foremost', 'Last but not least', 'Finally', 'For instance', 'For example', 'For this reason', 'Hence', 'Consequently', 'To sum up', 
                       'To conclude', 'To begin with', 'To start with', 'In addition', 'In addition to that', 'In addition to', 'At the same time', 'In conclusion', 'All in all', 'As can be seen', 
                       'As we can see', 'According to', 'Due to', 'Thanks to', 'What is more', 'Speaking about', 'Speaking of', 'Moreover', 'Furthermore', 'However', 'Thus', 'Therefore', 
                       'In contrast to', 'In contrast', 'Taking into consideration', 'Finally', 'To make the long story short', 'To cut the long story short', 'Surprisingly', 'Unsurprisingly', 
                       'Undoubtedly', 'Overwhelmingly', 'On rare occasions', 'Infrequently', 'In spite of', 'Despite', 'Having said that', 'As if that was', 'As if it was', 'As if this was', 
                       'To tell the truth', 'To be honest', 'To be fair', 'In truth', 'In all honesty', 'In all fairness', 'In all likelihood', 'In all seriousness', 'Without loss of generality', 
                       'With all my heart', 'With due respect', 'With all due respect', 'Without any reservation', 'Without further ado', 'Without any ado', 'Without any doubt', 'Without a doubt',
                       'Undoubtedly', 'Unanimously', 'Inadvertently', 'By chance', 'By accident', 'Just by accident', 'Just by chance' 'In the nick of time', 'In a jiffy', 'At the last minute', 
                       'At the last moment', 'At the earliest convenience', 'At the earliest opportunity', 'At the earliest possible time','Firstly','Secondly','Thirdly', 'As an example', 'In fact',
                       'This is why', 'In some way', 'By the way', 'In this way', 'So that way', 'So this way', 'From my point of view', 'For this point of view', 'And from this view', 'In my view',
                       'For many years', 'Also', 'Meanwhile', 'In our progressive world','So','In other words', 'In that case', 'In this case', 'In these cases', 'In general', 'Further',
                       'Of course', 'These days', 'Generally', 'Actually', 'For me', 'Overall', 'Nevertheless', 'Namely', 'Otherwise', 'Clearly','Futhermore','Recently','From my perspective', 
                       'Personally', 'Probably', 'Afterwards', 'Later', 'Now', 'Then', 'There', 'Inspite of that', 'Nowadays']

In [96]:
introductory_constructions = []
for k in first_constructions:
  for el in adding_commas.values:
    sample = el[9].split(',')[0]
    if k == sample:
      if len(el[6].split(k)) == 2:
        if el[6].split(k)[1].startswith(','):
          pass
        else:
          introductory_constructions.append(el)
    else:
      pass

In [97]:
introductory_constructions = pandas.DataFrame(introductory_constructions)
introductory_constructions.rename(columns = {0: 'text_id', 1 : 'sentence_id', 2 : 'token_id', 3 : 'mistake_type', 4 : 'error_span', 5 : 'correction', 6 : 'full_text', 7 : 'tokens_ids', 
                               8 : 'dependencies', 9 : 'corrected_text', 10 : 'corrected_with_ids', 11 : 'dependencies_heptabot'}, inplace = True)
introductory_constructions = introductory_constructions.drop_duplicates(subset=['corrected_text'], ignore_index=True)

In [98]:
def change_introductory_constructions_1(sample):
  tag = 'punctuation'
  index = int(sample[2])

  pprint("USER'S TEXT: " + sample[6])
  pprint('CORRECTED TEXT: ' + str(sample[9]))
  
  indexes = list(range(int(list(sample[7].keys())[0]),int(sample[2])+1))

  pprint('CORRECTION: ' + str(sample[9].split(',')[0]) + ',')

  error_area = [] # при внедрении в хептабот стоит пользоваться только этими индексами для выделения области ошибки
  for el in indexes:
    error_area.append(sample[7][el])
  pprint('ERROR AREA: '+ ' '.join(error_area))
  pprint('TAG: ' + tag)

In [99]:
#for el in introductory_constructions.values:
#  change_introductory_constructions_1(el)

In [100]:
adding_commas = adding_commas[adding_commas['corrected_text'].apply(lambda x: x not in introductory_constructions['corrected_text'].values)]

In [101]:
punctuation = punctuation[punctuation['corrected_text'].apply(lambda x: x not in introductory_constructions['corrected_text'].values)]

In [102]:
introductory2 = [i for i in first_constructions if i != 'There']

In [103]:
introductory_inside = []
for i in introductory2:
  for el in adding_commas.values:
    if str(el[4]) == i.lower():
      if str(el[4]) + ',' == str(el[5]):
        introductory_inside.append(el)
    elif str(el[7][int(el[2])+1]) == i.lower():
      introductory_inside.append(el)

In [104]:
introductory_inside = pandas.DataFrame(introductory_inside)
introductory_inside.rename(columns = {0: 'text_id', 1 : 'sentence_id', 2 : 'token_id', 3 : 'mistake_type', 4 : 'error_span', 5 : 'correction', 6 : 'full_text', 7 : 'tokens_ids', 
                               8 : 'dependencies', 9 : 'corrected_text', 10 : 'corrected_with_ids', 11 : 'dependencies_heptabot'}, inplace = True)
introductory_inside = introductory_inside.drop_duplicates(subset=['corrected_text'], ignore_index=True)

In [105]:
def change_introductory_inside(sample):
  tag = 'punctuation'
  pprint("USER'S TEXT: " + sample[6])
  pprint('CORRECTED TEXT: ' + str(sample[9]))

  for i in introductory2:
    if str(sample[4]) == i.lower():
        if str(el[4]) + ',' == str(el[5]):

          i = list(sample[7].keys())[0]
          index1 = list(sample[7].keys())[0]
          while i != el[2]:
            i += 1
            if el[7][i] == ',':
              index1 = i + 1

          index2 = int(el[2]) + 1
          indexes = range(index1, index2)

          error_area = []
          for b in indexes:
            error_area.append(str(el[7][b]))

          pprint('CORRECTION: ' + ' '.join(error_area) + ',')
          pprint('ERROR AREA: '+ ' '.join(error_area))
          pprint('TAG: ' + tag)

    elif str(sample[7][int(sample[2])+1]) == i.lower():
      index =int(sample[2])+1
      
      pprint('CORRECTION: ' + str(sample[7][index]) + ',')
      pprint('ERROR AREA: '+ str(sample[7][index]))
      pprint('TAG: ' + tag)

In [106]:
#for el in introductory_inside.values:
#  change_introductory_inside(el)

In [107]:
adding_commas = adding_commas[adding_commas['corrected_text'].apply(lambda x: x not in introductory_inside['corrected_text'].values)]

In [108]:
punctuation = punctuation[punctuation['corrected_text'].apply(lambda x: x not in introductory_inside['corrected_text'].values)]

In [109]:
in_modern_world_adding_commas = []
for el in adding_commas.values:
  sample = el[9].split(',')
  try:
    if sample[0] == 'In modern world':
      if len(el[6].split(',')[0].split()) > 3:
        in_modern_world_adding_commas.append(el)
    elif sample[0] == 'In the modern world':
      if len(el[6].split(',')[0].split()) > 4:
        in_modern_world_adding_commas.append(el)
    elif sample[0] == 'In a modern world':
      if len(el[6].split(',')[0].split()) > 4:
        in_modern_world_adding_commas.append(el)
    elif sample[1] == ' in a modern world':
      if len(el[6].split(',')[1].split()) > 4:
          in_modern_world_adding_commas.append(el)
    elif sample[1] == ' in the modern world':
      if len(el[6].split(',')[1].split()) > 4:
          in_modern_world_adding_commas.append(el)
    elif sample[1] == ' in modern world':
      if len(el[6].split(',')[1].split()) > 3:
          in_modern_world_adding_commas.append(el)
    elif sample[1] == ' in our modern world':
      if len(el[6].split(',')[1].split()) > 4:
          in_modern_world_adding_commas.append(el)
    elif sample[1] == ' In our modern world':
      if len(el[6].split(',')[1].split()) > 4:
          in_modern_world_adding_commas.append(el)     
    else:
      pass
  except:
    pass

In [110]:
in_modern_world_adding_commas = pandas.DataFrame(in_modern_world_adding_commas)
in_modern_world_adding_commas.rename(columns = {0: 'text_id', 1 : 'sentence_id', 2 : 'token_id', 3 : 'mistake_type', 4 : 'error_span', 5 : 'correction', 6 : 'full_text', 7 : 'tokens_ids', 
                               8 : 'dependencies', 9 : 'corrected_text', 10 : 'corrected_with_ids', 11 : 'dependencies_heptabot'}, inplace = True)
in_modern_world_adding_commas = in_modern_world_adding_commas.drop_duplicates(subset=['corrected_text'], ignore_index=True)

In [111]:
def change_modern_world_add_comma(sample):

  tag = 'punctuation'

  pprint("USER'S TEXT: " + sample[6])
  pprint('CORRECTED TEXT: ' + str(sample[9]))
  

  i = list(sample[7].keys())[0]
  index1 = list(sample[7].keys())[0]
  while i != el[2]:
    i += 1
    if el[7][i] == ',':
      index1 = i + 1

  index2 = int(el[2]) + 1
  indexes = range(index1, index2)

  error_area = []
  for b in indexes:
    error_area.append(str(el[7][b]))

  pprint('CORRECTION: ' + ' '.join(error_area) + ',')
  pprint('ERROR AREA: '+ ' '.join(error_area))
  pprint('TAG: ' + tag)

In [112]:
#for el in in_modern_world_adding_commas.values:
#  change_modern_world_add_comma(el)

In [113]:
punctuation = punctuation[punctuation['corrected_text'].apply(lambda x: x not in in_modern_world_adding_commas['corrected_text'].values)]

In [114]:
adding_commas = adding_commas[adding_commas['corrected_text'].apply(lambda x: x not in in_modern_world_adding_commas['corrected_text'].values)]

In [115]:
gerund_after_commas = []
for el in adding_commas.values:
  try:
    element = str(el[4])
    f = re.findall(r'[a-zA-Z]+', element)
    a = re.findall(r'\d+', element)
    k = re.findall(r'\W', element)
    all = f+a+k
    if ' ' in all:
      all.remove(' ')

    length = len(all)
    index2 = int(el[2]) + int(length) 

    if el[8][index2][2] == 'VBG':
      gerund_after_commas.append(el)

  except:
    pass

In [116]:
gerund_after_commas = pandas.DataFrame(gerund_after_commas)
gerund_after_commas.rename(columns = {0: 'text_id', 1 : 'sentence_id', 2 : 'token_id', 3 : 'mistake_type', 4 : 'error_span', 5 : 'correction', 6 : 'full_text', 7 : 'tokens_ids', 
                               8 : 'dependencies', 9 : 'corrected_text', 10 : 'corrected_with_ids', 11 : 'dependencies_heptabot'}, inplace = True)
gerund_after_commas = gerund_after_commas.drop_duplicates(subset=['corrected_text'], ignore_index=True)

In [117]:
#for el in gerund_after_commas.values:
#  change_modern_world_add_comma(el)

In [118]:
punctuation = punctuation[punctuation['corrected_text'].apply(lambda x: x not in gerund_after_commas['corrected_text'].values)]

In [119]:
adding_commas = adding_commas[adding_commas['corrected_text'].apply(lambda x: x not in gerund_after_commas['corrected_text'].values)]

In [120]:
relative_clauses2 = []
for el in adding_commas.values:
  try:
    element = str(el[4])
    ind = int(el[2])
    f = re.findall(r'[a-zA-Z]+', element)
    a = re.findall(r'\d+', element)
    k = re.findall(r'\W', element)
    all = f+a+k
    if ' ' in all:
      all.remove(' ')

    length = len(all)
    index = int(el[2]) + int(length)


    if el[8][index][0] == 'which':
      relative_clauses2.append(el)
    elif el[8][index][0] == 'who':
      relative_clauses2.append(el)


    elif el[7][ind+1] == 'which':
      relative_clauses2.append(el)
    elif el[7][ind+1] == 'who':
      relative_clauses2.append(el)
  except:
    pass

In [121]:
relative_clauses2 = pandas.DataFrame(relative_clauses2)
relative_clauses2.rename(columns = {0: 'text_id', 1 : 'sentence_id', 2 : 'token_id', 3 : 'mistake_type', 4 : 'error_span', 5 : 'correction', 6 : 'full_text', 7 : 'tokens_ids', 
                               8 : 'dependencies', 9 : 'corrected_text', 10 : 'corrected_with_ids', 11 : 'dependencies_heptabot'}, inplace = True)
relative_clauses2 = relative_clauses2.drop_duplicates(subset=['corrected_text'], ignore_index=True)

In [122]:
def change_relative(sample):
  tag = 'relative clause'

  pprint("USER'S TEXT: " + sample[6])
  pprint('CORRECTED TEXT: ' + str(sample[9]))

  element = str(sample[4])
  f = re.findall(r'[a-zA-Z]+', element)
  a = re.findall(r'\d+', element)
  k = re.findall(r'\W', element)
  all = f+a+k
  
  if ' ' in all:
    all.remove(' ')

  length = len(all)
  index = int(sample[2]) + int(length) 

  pprint('CORRECTION: ' + ',' + ' ' + str(sample[7][index]))
  pprint('ERROR AREA: '+ str(sample[7][index]))
  pprint('TAG: ' + tag)

In [123]:
#for el in relative_clauses2.values:
 # change_relative(el)

In [124]:
punctuation = punctuation[punctuation['corrected_text'].apply(lambda x: x not in relative_clauses2['corrected_text'].values)]

In [125]:
adding_commas = adding_commas[adding_commas['corrected_text'].apply(lambda x: x not in relative_clauses2['corrected_text'].values)]

In [126]:
that_clauses = []
for el in adding_commas.values:
  index = int(el[2])

  if el[7][index+1] == 'that':
    that_clauses.append(el)

In [127]:
that_clauses = pandas.DataFrame(that_clauses)
that_clauses.rename(columns = {0: 'text_id', 1 : 'sentence_id', 2 : 'token_id', 3 : 'mistake_type', 4 : 'error_span', 5 : 'correction', 6 : 'full_text', 7 : 'tokens_ids', 
                               8 : 'dependencies', 9 : 'corrected_text', 10 : 'corrected_with_ids', 11 : 'dependencies_heptabot'}, inplace = True)
that_clauses = that_clauses.drop_duplicates(subset=['corrected_text'], ignore_index=True)

In [128]:
def change_that(sample):
  tag = 'relative clause'
  pprint("USER'S TEXT: " + sample[6])
  pprint('CORRECTED TEXT: ' + str(sample[9]))

  element = str(sample[4])
  f = re.findall(r'[a-zA-Z]+', element)
  a = re.findall(r'\d+', element)
  k = re.findall(r'\W', element)
  all = f+a+k

  if ' ' in all:
    all.remove(' ')
  
  
  length = len(all)

  ind = int(sample[2]) + int(length)
  #nsubj
  if sample[8][ind][3] == 'nsubj':
    i = list(sample[7].keys())[0]
    index1 = list(sample[7].keys())[0]
    while i != el[2]:
      i += 1
      if el[7][i] == ',':
        index1 = i + 1

    index2 = int(el[2]) + 1
    indexes = range(index1, index2)

    error_area = []
    for b in indexes:
      error_area.append(str(el[7][b]))
  

    pprint('CORRECTION: ' + ' '.join(error_area) + ',')
    pprint('ERROR AREA: '+ ' '.join(error_area))

  #dobj
  elif sample[8][ind][3] == 'dobj':
    print('the comma is not needed')

  #det
  elif sample[8][ind][3] == 'det':
    i = list(sample[7].keys())[0]
    index1 = list(sample[7].keys())[0]
    while i != el[2]:
      i += 1
      if el[7][i] == ',':
        index1 = i + 1

    index2 = int(el[2]) + 1
    indexes = range(index1, index2)

    error_area = []
    for b in indexes:
      error_area.append(str(el[7][b]))
    
    pprint('CORRECTION: ' + ' '.join(error_area) + ',')
    pprint('ERROR AREA: '+ ' '.join(error_area))
    
  # prep
  elif sample[8][ind][3] == 'prep':
    error_area = sample[4]
    correction = sample[5]

    pprint('CORRECTION: ' + correction)
    pprint('ERROR AREA: '+ error_area)
    
  elif sample[8][ind][3] == 'mark':
    print('strange thing')

  print('\n')

In [129]:
#for el in that_clauses.values:
#  change_that(el)

In [130]:
punctuation = punctuation[punctuation['corrected_text'].apply(lambda x: x not in that_clauses['corrected_text'].values)]

In [131]:
adding_commas = adding_commas[adding_commas['corrected_text'].apply(lambda x: x not in that_clauses['corrected_text'].values)]

In [132]:
first_gerunds = []
for el in adding_commas.values:
  gerunds = []
  index1 = list(el[8].keys())[0]
  index2 = int(el[2])
  indexes = range(index1, index2)
  for ind in indexes:
    gerunds.append(el[-1][ind][-1])

  if el[-1][index1][2] == 'VBG':
    if el[-1][index1][3] != 'csubj':
      if el[6].split(',')[0] != el[9].split(',')[0]:
        if 'nsubj' not in gerunds:
          first_gerunds.append(el)

In [133]:
first_gerunds = pandas.DataFrame(first_gerunds)
first_gerunds.rename(columns = {0: 'text_id', 1 : 'sentence_id', 2 : 'token_id', 3 : 'mistake_type', 4 : 'error_span', 5 : 'correction', 6 : 'full_text', 7 : 'tokens_ids', 
                               8 : 'dependencies', 9 : 'corrected_text', 10 : 'corrected_with_ids', 11 : 'dependencies_heptabot'}, inplace = True)
first_gerunds = first_gerunds.drop_duplicates(subset=['corrected_text'], ignore_index=True)

In [134]:
def change_gerund(sample):
  tag = 'punctuation'

  pprint("USER'S TEXT: " + sample[6])
  pprint('CORRECTED TEXT: ' + str(sample[9]))
  
  error_area = []
  for k, v in sample[7].items():
    if k != int(sample[2])+1:
      error_area.append(str(v))
    else:
      break

  pprint('CORRECTION: ' + ' '.join(error_area) + ',')
  pprint('ERROR AREA: '+ ' '.join(error_area))
  pprint('TAG: ' + tag)

In [135]:
#for el in first_gerunds.values:
 # change_gerund(el)

In [136]:
punctuation = punctuation[punctuation['corrected_text'].apply(lambda x: x not in first_gerunds['corrected_text'].values)]

In [137]:
adding_commas = adding_commas[adding_commas['corrected_text'].apply(lambda x: x not in first_gerunds['corrected_text'].values)]

In [138]:
conjuncs = ['and', 'where', 'while', 'so', 'wherears', 'but', 'even', 'although', 'as', 'then', 'whether', 'like', 'since', 'because', 'when', 'whilst', 'regardless', 'especially']

In [139]:
conjuncs_df = []
for conj in conjuncs:
  try:
    for el in adding_commas.values:
      element = str(el[4])
      f = re.findall(r'[a-zA-Z]+', element)
      j = re.findall(r'\d+[,.]\d+',element)
      l = re.findall(r'[%]+', element)
      change = re.findall(r"[\w']+|[.,!?;()%-]", str(element))
      if len(j) == 0:
        all = change
      else:

        all = f+j+l

      if ' ' in all:
        all.remove(' ')
      
      length = len(all)

      if el[7][int(el[2])+length] == conj:
        if el[7][int(el[2])+length+1] != 'of':
          conjuncs_df.append(el)
  except:
    pass

In [140]:
conjuncs_df = pandas.DataFrame(conjuncs_df)
conjuncs_df.rename(columns = {0: 'text_id', 1 : 'sentence_id', 2 : 'token_id', 3 : 'mistake_type', 4 : 'error_span', 5 : 'correction', 6 : 'full_text', 7 : 'tokens_ids', 
                               8 : 'dependencies', 9 : 'corrected_text', 10 : 'corrected_with_ids', 11 : 'dependencies_heptabot'}, inplace = True)
conjuncs_df = conjuncs_df.drop_duplicates(subset=['corrected_text'], ignore_index=True)

In [141]:
def change_conj(sample):
  tag = 'punctuation'
  marks = string.punctuation 
  if str(sample[4]) + ',' != str(sample[5]):
    if str(sample[4]) in marks:
      pprint("USER'S TEXT: " + sample[6])
      pprint('CORRECTED TEXT: ' + str(sample[9]))
      
      error_area = sample[7][int(sample[2])] + ' ' + sample[7][int(sample[2]+1)] 
      correction = sample[10][int(sample[2])] + ' ' + sample[10][int(sample[2]+1)] 

      pprint('CORRECTION: ' + correction)
      pprint('ERROR AREA: '+ error_area)
      pprint('TAG: ' + tag)

  else:
    pprint("USER'S TEXT: " + sample[6])
    pprint('CORRECTED TEXT: ' + str(sample[9]))
    
    error_area = sample[7][int(sample[2]+1)]

    pprint('CORRECTION: ' + ', ' + error_area)
    pprint('ERROR AREA: '+ error_area)
    pprint('TAG: ' + tag)

In [142]:
#for el in conjuncs_df.values:
#  change_conj(el)

In [143]:
punctuation = punctuation[punctuation['corrected_text'].apply(lambda x: x not in conjuncs_df['corrected_text'].values)]

In [144]:
adding_commas = adding_commas[adding_commas['corrected_text'].apply(lambda x: x not in conjuncs_df['corrected_text'].values)]

In [145]:
conjuncs_df2 = []
for el in adding_commas.values:
  try:
    element = str(el[4])
    f = re.findall(r'[a-zA-Z]+', element)
    j = re.findall(r'\d+[,.]\d+',element)
    l = re.findall(r'[%]+', element)
    change = re.findall(r"[\w']+|[.,!?;()%-]", str(element))
    if len(j) == 0:
      all = change
    else:

      all = f+j+l

    if ' ' in all:
      all.remove(' ')
    
    length = len(all)

    if el[7][int(el[2])+length] == 'such':
      if el[7][int(el[2])+length+1] == 'as':
        conjuncs_df2.append(el)
    elif el[7][int(el[2])+length] == 'because':
      if el[7][int(el[2])+length+1] == 'of':
        conjuncs_df2.append(el)
    elif el[7][int(el[2])+length] == 'of':
      if el[7][int(el[2])+length+1] == 'course':
        conjuncs_df2.append(el)
  except:
    pass

In [146]:
conjuncs_df2 = pandas.DataFrame(conjuncs_df2)
conjuncs_df2.rename(columns = {0: 'text_id', 1 : 'sentence_id', 2 : 'token_id', 3 : 'mistake_type', 4 : 'error_span', 5 : 'correction', 6 : 'full_text', 7 : 'tokens_ids', 
                               8 : 'dependencies', 9 : 'corrected_text', 10 : 'corrected_with_ids', 11 : 'dependencies_heptabot'}, inplace = True)
conjuncs_df2 = conjuncs_df2.drop_duplicates(subset=['corrected_text'], ignore_index=True)

In [147]:
def change_conj2(sample):
  tag = 'punctuation'
  marks = string.punctuation 
  if str(sample[4]) + ',' != str(sample[5]):
    if str(sample[4]) in marks:
      pprint("USER'S TEXT: " + sample[6])
      pprint('CORRECTED TEXT: ' + str(sample[9]))
      indexes = [sample[7][int(sample[2])] , sample[7][int(sample[2]+1)] , sample[7][int(sample[2]+2)] ]
      
      error_area = sample[7][int(sample[2])] + ' ' + sample[7][int(sample[2]+1)] + ' ' + sample[7][int(sample[2]+2)] 
      correction = sample[10][int(sample[2])] + ' ' + sample[10][int(sample[2]+1)] + ' ' + sample[10][int(sample[2]+2)] 

      pprint('CORRECTION: ' + correction)
      pprint('ERROR AREA: '+ error_area)
      pprint('TAG: ' + tag)

  else:
    pprint("USER'S TEXT: " + sample[6])
    pprint('CORRECTED TEXT: ' + str(sample[9]))
    indexes = [sample[7][int(sample[2]+1)], sample[7][int(sample[2]+2)] ]
    
    error_area =  sample[7][int(sample[2]+1)] + ' ' + sample[7][int(sample[2]+2)] 

    pprint('CORRECTION: ' + ', ' + error_area)
    pprint('ERROR AREA: '+ error_area)
    pprint('TAG: ' + tag)

In [148]:
#for el in conjuncs_df2.values:
 # change_conj2(el)

In [149]:
punctuation = punctuation[punctuation['corrected_text'].apply(lambda x: x not in conjuncs_df2['corrected_text'].values)]

In [150]:
adding_commas = adding_commas[adding_commas['corrected_text'].apply(lambda x: x not in conjuncs_df2['corrected_text'].values)]

In [151]:
preps2 = []
for el in adding_commas.values:
  if el[6].split(',')[0] != el[9].split(',')[0]:

    if len(el[9].split(',')[0].split()) < 9:
      index1 = list(el[8].keys())[0]
      index2 = int(el[2])
      indexes = range(index1,index2)
      preps_list = []
      for ind in indexes:  
        preps_list.append(el[8][ind][3])


      if 'prep' in preps_list:
        preps2.append(el)

In [152]:
preps2 = pandas.DataFrame(preps2)
preps2.rename(columns = {0: 'text_id', 1 : 'sentence_id', 2 : 'token_id', 3 : 'mistake_type', 4 : 'error_span', 5 : 'correction', 6 : 'full_text', 7 : 'tokens_ids', 
                               8 : 'dependencies', 9 : 'corrected_text', 10 : 'corrected_with_ids', 11 : 'dependencies_heptabot'}, inplace = True)
preps2 = preps2.drop_duplicates(subset=['corrected_text'], ignore_index=True)

In [153]:
def change_preps2(sample):
  tag = 'punctuation'

  pprint("USER'S TEXT: " + sample[6])
  pprint('CORRECTED TEXT: ' + str(sample[9]))
  
  if str(sample[4]).startswith(','):
    if str(sample[5]).endswith(','):
      index1 = int(list(sample[7].keys())[0])
      index2 = int(sample[2]) + 2
      indexes = range(index1, index2)
      error_area = []
      correction = []
      for i in indexes:
        error_area.append(str(sample[7][i]))
        correction.append(str(sample[10][i]))
  
      pprint('CORRECTION: ' + ' '.join(correction[0:-1])+',')
      pprint('ERROR AREA: '+ ' '.join(error_area))
      pprint('TAG: ' + tag)

  else:
    index1 = int(list(sample[7].keys())[0])
    index2 = int(sample[2]) + 1
    indexes = range(index1, index2)
    error_area = []
    for i in indexes:
      error_area.append(str(sample[7][i]))

    pprint('CORRECTION: ' + ' '.join(error_area) + ',')
    pprint('ERROR AREA: '+ ' '.join(error_area))
    pprint('TAG: ' + tag)

In [154]:
#for el in preps2.values:
#  change_preps2(el)

In [155]:
punctuation = punctuation[punctuation['corrected_text'].apply(lambda x: x not in preps2['corrected_text'].values)]

In [156]:
adding_commas = adding_commas[adding_commas['corrected_text'].apply(lambda x: x not in preps2['corrected_text'].values)]

In [157]:
ins = []
for el in adding_commas.values:
  ind = list(el[7].keys())[0]
  if el[6].split(',')[0] != el[9].split(',')[0]:
    if len(el[9].split(',')[0].split()) < 6:
      if el[8][ind][0] == 'In':
        ins.append(el)

In [158]:
ins = pandas.DataFrame(ins)
ins.rename(columns = {0: 'text_id', 1 : 'sentence_id', 2 : 'token_id', 3 : 'mistake_type', 4 : 'error_span', 5 : 'correction', 6 : 'full_text', 7 : 'tokens_ids', 
                               8 : 'dependencies', 9 : 'corrected_text', 10 : 'corrected_with_ids', 11 : 'dependencies_heptabot'}, inplace = True)
ins = ins.drop_duplicates(subset=['corrected_text'], ignore_index=True)

In [159]:
#for el in ins.values:
#  change_preps2(el)

In [160]:
punctuation = punctuation[punctuation['corrected_text'].apply(lambda x: x not in ins['corrected_text'].values)]

In [161]:
adding_commas = adding_commas[adding_commas['corrected_text'].apply(lambda x: x not in ins['corrected_text'].values)]

In [162]:
first_to_infs = []
for el in adding_commas.values:
  ind = list(el[8].keys())[0]  
  if el[6].split(',')[0] != el[9].split(',')[0]:
    if el[8][ind][0] == 'To':
      if el[8][ind+1][3] == 'advcl':
        first_to_infs.append(el)

In [163]:
first_to_infs = pandas.DataFrame(first_to_infs)
first_to_infs.rename(columns = {0: 'text_id', 1 : 'sentence_id', 2 : 'token_id', 3 : 'mistake_type', 4 : 'error_span', 5 : 'correction', 6 : 'full_text', 7 : 'tokens_ids', 
                               8 : 'dependencies', 9 : 'corrected_text', 10 : 'corrected_with_ids', 11 : 'dependencies_heptabot'}, inplace = True)
first_to_infs = first_to_infs.drop_duplicates(subset=['corrected_text'], ignore_index=True)

In [164]:
def change_first_to(sample):
  tag = 'punctuation'
  index1 = int(list(sample[7].keys())[0])
  index2 = int(sample[2]) + 1
  indexes = range(index1, index2)

  pprint("USER'S TEXT: " + sample[6])
  pprint('CORRECTED TEXT: ' + str(sample[9]))
      
  
  error_area = []
  for i in indexes:
    error_area.append(str(sample[7][i]))

  pprint('CORRECTION: ' + ' '.join(error_area) + ',')
  pprint('ERROR AREA: '+ ' '.join(error_area))
  pprint('TAG: ' + tag)

In [165]:
#for el in first_to_infs.values:
#  change_first_to(el)

In [166]:
punctuation = punctuation[punctuation['corrected_text'].apply(lambda x: x not in first_to_infs['corrected_text'].values)]
adding_commas = adding_commas[adding_commas['corrected_text'].apply(lambda x: x not in first_to_infs['corrected_text'].values)]

In [167]:
commas_dots2 = []
for el in adding_commas.values:
  if str(el[4]).startswith(','):
    if str(el[5]).startswith('.'):
      if str(el[5])[2].islower() == False:
        commas_dots2.append(el)

In [168]:
commas_dots2 = pandas.DataFrame(commas_dots2)
commas_dots2.rename(columns = {0: 'text_id', 1 : 'sentence_id', 2 : 'token_id', 3 : 'mistake_type', 4 : 'error_span', 5 : 'correction', 6 : 'full_text', 7 : 'tokens_ids', 
                               8 : 'dependencies', 9 : 'corrected_text', 10 : 'corrected_with_ids', 11 : 'dependencies_heptabot'}, inplace = True)
commas_dots2 = commas_dots2.drop_duplicates(subset=['corrected_text'], ignore_index=True)

In [169]:
def change_commas_dots2(sample):
  pprint("USER'S TEXT: " + sample[6])
  pprint('CORRECTED TEXT: ' + str(sample[9]))
  tag = 'punctuation'

  i = list(sample[7].keys())[0]
  index1 = list(sample[7].keys())[0]
  while i != el[2]:
    i += 1
    if el[7][i] == ',':
      index1 = i 

  index2 = int(el[2]) + 2
  indexes = range(index1, index2)

  error_area = []
  for b in indexes:
    error_area.append(str(el[7][b]))


  pprint('CORRECTION: ' + '. ' + ' '.join(error_area[1:]).capitalize())
  pprint('ERROR AREA: '+ ' '.join(error_area))
  pprint('TAG: ' + tag)


  pprint('CORRECTION: ' + str(sample[5][2:]))
  pprint('ERROR AREA: '+ str(sample[4][2:]))
  pprint('TAG: ' + tag)

In [170]:
#for el in commas_dots2.values:
#  change_commas_dots2(el)

In [171]:
punctuation = punctuation[punctuation['corrected_text'].apply(lambda x: x not in commas_dots2['corrected_text'].values)]
adding_commas = adding_commas[adding_commas['corrected_text'].apply(lambda x: x not in commas_dots2['corrected_text'].values)]

In [172]:
gerund_constructions = []
for el in adding_commas.values:
  index1 = list(el[7].keys())[0]
  index2 = int(el[2])
  i = int(el[2])
  while i != el[2]:
    i -= 1
    if el[7][i] == ',':
      index1 = i 
      #if i[2] == 'VBG':


  indexes = range(index1, index2)
  poss_gerunds = []
  for i in indexes:
    poss_gerunds.append(el[8][i][2])

  if 'VBG' in poss_gerunds:
    gerund_constructions.append(el)

In [173]:
gerund_constructions = pandas.DataFrame(gerund_constructions)
gerund_constructions.rename(columns = {0: 'text_id', 1 : 'sentence_id', 2 : 'token_id', 3 : 'mistake_type', 4 : 'error_span', 5 : 'correction', 6 : 'full_text', 7 : 'tokens_ids', 
                               8 : 'dependencies', 9 : 'corrected_text', 10 : 'corrected_with_ids', 11 : 'dependencies_heptabot'}, inplace = True)
gerund_constructions = gerund_constructions.drop_duplicates(subset=['corrected_text'], ignore_index=True)

In [174]:
def change_gerund_constructions(sample):
  pprint("USER'S TEXT: " + sample[6])
  pprint('CORRECTED TEXT: ' + str(sample[9]))
  tag = 'punctuation'

  i = list(sample[7].keys())[0]
  index1 = list(sample[7].keys())[0]
  while i != el[2]:
    i += 1
    if el[7][i] == ',':
      index1 = i + 1

  index2 = int(el[2]) + 1
  indexes = range(index1, index2)

  error_area = []
  for b in indexes:
    error_area.append(str(el[7][b]))


  pprint('CORRECTION: ' + ' '.join(error_area) + ',')
  pprint('ERROR AREA: '+ ' '.join(error_area))
  pprint('TAG: ' + tag)

In [175]:
#for el in gerund_constructions.values:
#  change_gerund_constructions(el)

In [176]:
punctuation = punctuation[punctuation['corrected_text'].apply(lambda x: x not in gerund_constructions['corrected_text'].values)]
adding_commas = adding_commas[adding_commas['corrected_text'].apply(lambda x: x not in gerund_constructions['corrected_text'].values)]

In [177]:
opinions = []
for el in adding_commas.values:
  if str(el[4]) == 'opinion':
    if str(el[4]) + ',' == str(el[5]):
      opinions.append(el)

In [178]:
opinions = pandas.DataFrame(opinions)
opinions.rename(columns = {0: 'text_id', 1 : 'sentence_id', 2 : 'token_id', 3 : 'mistake_type', 4 : 'error_span', 5 : 'correction', 6 : 'full_text', 7 : 'tokens_ids', 
                               8 : 'dependencies', 9 : 'corrected_text', 10 : 'corrected_with_ids', 11 : 'dependencies_heptabot'}, inplace = True)
opinions = opinions.drop_duplicates(subset=['corrected_text'], ignore_index=True)

In [179]:
#for el in opinions.values:
#  change_gerund_constructions(el)

In [180]:
punctuation = punctuation[punctuation['corrected_text'].apply(lambda x: x not in opinions['corrected_text'].values)]
adding_commas = adding_commas[adding_commas['corrected_text'].apply(lambda x: x not in opinions['corrected_text'].values)]

In [181]:
cases = []
for el in adding_commas.values:
  if str(el[4]) == 'case':
    if str(el[4]) + ',' == str(el[5]):
      cases.append(el)
  elif str(el[4]) == 'cases':
    if str(el[4]) + ',' == str(el[5]):
      cases.append(el)

In [182]:
cases = pandas.DataFrame(cases)
cases.rename(columns = {0: 'text_id', 1 : 'sentence_id', 2 : 'token_id', 3 : 'mistake_type', 4 : 'error_span', 5 : 'correction', 6 : 'full_text', 7 : 'tokens_ids', 
                               8 : 'dependencies', 9 : 'corrected_text', 10 : 'corrected_with_ids', 11 : 'dependencies_heptabot'}, inplace = True)
cases = cases.drop_duplicates(subset=['corrected_text'], ignore_index=True)

In [183]:
#for el in cases.values:
 # change_gerund_constructions(el)

In [184]:
punctuation = punctuation[punctuation['corrected_text'].apply(lambda x: x not in cases['corrected_text'].values)]
adding_commas = adding_commas[adding_commas['corrected_text'].apply(lambda x: x not in cases['corrected_text'].values)]

In [185]:
verbs_after_correction = []
for el in adding_commas.values:
  if str(el[4]) + ',' == str(el[5]):
    element = str(el[4])
    f = re.findall(r'[a-zA-Z]+', element)
    a = re.findall(r'\d+', element)
    k = re.findall(r'\W', element)
    all = f+a+k
    if ' ' in all:
      all.remove(' ')

    length = len(all)
    index = int(el[2]) + int(length)

    if el[8][index][2] == 'VBD':
      verbs_after_correction.append(el)

In [186]:
verbs_after_correction = pandas.DataFrame(verbs_after_correction)
verbs_after_correction.rename(columns = {0: 'text_id', 1 : 'sentence_id', 2 : 'token_id', 3 : 'mistake_type', 4 : 'error_span', 5 : 'correction', 6 : 'full_text', 7 : 'tokens_ids', 
                               8 : 'dependencies', 9 : 'corrected_text', 10 : 'corrected_with_ids', 11 : 'dependencies_heptabot'}, inplace = True)
verbs_after_correction = verbs_after_correction.drop_duplicates(subset=['corrected_text'], ignore_index=True)

In [187]:
#for el in verbs_after_correction.values:
#  change_gerund_constructions(el)

In [188]:
punctuation = punctuation[punctuation['corrected_text'].apply(lambda x: x not in verbs_after_correction['corrected_text'].values)]
adding_commas = adding_commas[adding_commas['corrected_text'].apply(lambda x: x not in verbs_after_correction['corrected_text'].values)]

In [189]:
ifs = []
for el in adding_commas.values:
  if str(el[4]) + ',' == str(el[5]):
    element = str(el[4])
    f = re.findall(r'[a-zA-Z]+', element)
    a = re.findall(r'\d+', element)
    k = re.findall(r'\W', element)
    all = f+a+k
    if ' ' in all:
      all.remove(' ')

    length = len(all)

    index = int(el[2]) + int(length)

    if el[8][index][0] == 'if':
      ifs.append(el)
    elif el[8][index+1][0] == 'if':
      ifs.append(el)
    else:
      index1 = list(el[7].keys())[0]
      index2 = int(el[2])
      i = int(el[2])
      while i != el[2]:
        i -= 1
        if el[7][i] == ',':
          index1 = i - 1
          #if i[2] == 'VBG':


      indexes = range(index1, index2+1)
      poss_ifs = []
      for i in indexes:
        poss_ifs.append(el[8][i][0])

      if poss_ifs[0] == 'If':
        ifs.append(el)
      else:
        try:
          index1 = list(el[7].keys())[0]
          index2 = int(el[2])
          i = int(el[2])
          while i != index1:
            i -= 1
            if el[7][i] == ',':
              index1 = i 
              
              #if i[2] == 'VBG':


          indexes = range(index1+1, index2+1)
          poss_ifs = []
          for i in indexes:
            poss_ifs.append(el[8][i][0])

          if poss_ifs[0] == 'if':
            ifs.append(el)
        except:
          pass

In [190]:
ifs = pandas.DataFrame(ifs)
ifs.rename(columns = {0: 'text_id', 1 : 'sentence_id', 2 : 'token_id', 3 : 'mistake_type', 4 : 'error_span', 5 : 'correction', 6 : 'full_text', 7 : 'tokens_ids', 
                               8 : 'dependencies', 9 : 'corrected_text', 10 : 'corrected_with_ids', 11 : 'dependencies_heptabot'}, inplace = True)
ifs = ifs.drop_duplicates(subset=['corrected_text'], ignore_index=True)

In [191]:
#for el in ifs.values:
#  change_gerund_constructions(el)

In [192]:
punctuation = punctuation[punctuation['corrected_text'].apply(lambda x: x not in ifs['corrected_text'].values)]
adding_commas = adding_commas[adding_commas['corrected_text'].apply(lambda x: x not in ifs['corrected_text'].values)]

In [193]:
pass_commas = []
for el in adding_commas.values:
  if str(el[4]) == '-':
    if str(el[5]) == ',':
      pass_commas.append(el)

In [194]:
pass_commas = pandas.DataFrame(pass_commas)
pass_commas.rename(columns = {0: 'text_id', 1 : 'sentence_id', 2 : 'token_id', 3 : 'mistake_type', 4 : 'error_span', 5 : 'correction', 6 : 'full_text', 7 : 'tokens_ids', 
                               8 : 'dependencies', 9 : 'corrected_text', 10 : 'corrected_with_ids', 11 : 'dependencies_heptabot'}, inplace = True)
pass_commas = pass_commas.drop_duplicates(subset=['corrected_text'], ignore_index=True)

In [195]:
def change_pass_commas(sample):
  pprint("USER'S TEXT: " + sample[6])
  pprint('CORRECTED TEXT: ' + str(sample[9]))
  tag = 'punctuation'

  i = list(sample[7].keys())[0]
  index1 = list(sample[7].keys())[0]
  while i != el[2]:
    i += 1
    if el[7][i] == ',':
      index1 = i + 1

  index2 = int(el[2]) + 1
  indexes = range(index1, index2)

  error_area = []
  for b in indexes:
    error_area.append(str(el[7][b]))


  pprint('CORRECTION: ' + ' '.join(error_area[0:-1]) + ',')
  pprint('ERROR AREA: '+ ' '.join(error_area))
  pprint('TAG: ' + tag)

In [196]:
#for el in pass_commas.values:
#  change_pass_commas(el)

In [197]:
punctuation = punctuation[punctuation['corrected_text'].apply(lambda x: x not in pass_commas['corrected_text'].values)]
adding_commas = adding_commas[adding_commas['corrected_text'].apply(lambda x: x not in pass_commas['corrected_text'].values)]

In [198]:
colon_commas = []
for el in adding_commas.values:
  if str(el[4]) == ':':
    if str(el[5]) == ',':
      colon_commas.append(el)

In [199]:
colon_commas = pandas.DataFrame(colon_commas)
colon_commas.rename(columns = {0: 'text_id', 1 : 'sentence_id', 2 : 'token_id', 3 : 'mistake_type', 4 : 'error_span', 5 : 'correction', 6 : 'full_text', 7 : 'tokens_ids', 
                               8 : 'dependencies', 9 : 'corrected_text', 10 : 'corrected_with_ids', 11 : 'dependencies_heptabot'}, inplace = True)
colon_commas = colon_commas.drop_duplicates(subset=['corrected_text'], ignore_index=True)

In [200]:
#for el in colon_commas.values:
#  change_pass_commas(el)

In [201]:
punctuation = punctuation[punctuation['corrected_text'].apply(lambda x: x not in colon_commas['corrected_text'].values)]
adding_commas = adding_commas[adding_commas['corrected_text'].apply(lambda x: x not in colon_commas['corrected_text'].values)]

In [202]:
preps2 = []
for el in adding_commas.values:
  i = int(el[2])
  try:
    if str(el[4]) == el[8][i][0]:
      if el[8][i-1][3] == 'prep':
        preps2.append(el)
      elif el[8][i-2][3] == 'prep':
        preps2.append(el)
      elif el[8][i-3][3] == 'prep':
        preps2.append(el)
      elif el[8][i-4][3] == 'prep':
        preps2.append(el)
      elif el[8][i-5][3] == 'prep':
        preps2.append(el)
  except:
    pass

In [203]:
preps2 = pandas.DataFrame(preps2)
preps2.rename(columns = {0: 'text_id', 1 : 'sentence_id', 2 : 'token_id', 3 : 'mistake_type', 4 : 'error_span', 5 : 'correction', 6 : 'full_text', 7 : 'tokens_ids', 
                               8 : 'dependencies', 9 : 'corrected_text', 10 : 'corrected_with_ids', 11 : 'dependencies_heptabot'}, inplace = True)
preps2 = preps2.drop_duplicates(subset=['corrected_text'], ignore_index=True)

In [204]:
#for el in preps2.values:
  #change_gerund_constructions(el)

In [205]:
punctuation = punctuation[punctuation['corrected_text'].apply(lambda x: x not in preps2['corrected_text'].values)]
adding_commas = adding_commas[adding_commas['corrected_text'].apply(lambda x: x not in preps2['corrected_text'].values)]

In [206]:
agos = []
for el in adding_commas.values:
  if str(el[4]) == 'ago':
    if str(el[4]) +',' == str(el[5]):
      agos.append(el)

In [207]:
agos = pandas.DataFrame(agos)
agos.rename(columns = {0: 'text_id', 1 : 'sentence_id', 2 : 'token_id', 3 : 'mistake_type', 4 : 'error_span', 5 : 'correction', 6 : 'full_text', 7 : 'tokens_ids', 
                               8 : 'dependencies', 9 : 'corrected_text', 10 : 'corrected_with_ids', 11 : 'dependencies_heptabot'}, inplace = True)
agos = agos.drop_duplicates(subset=['corrected_text'], ignore_index=True)

In [208]:
#for el in agos.values:
#  change_gerund_constructions(el)

In [209]:
punctuation = punctuation[punctuation['corrected_text'].apply(lambda x: x not in agos['corrected_text'].values)]
adding_commas = adding_commas[adding_commas['corrected_text'].apply(lambda x: x not in agos['corrected_text'].values)]

In [210]:
thats = []
for el in adding_commas.values:
  if str(el[4]) == 'that':
    if str(el[4]) +',' == str(el[5]):
      thats.append(el)

In [211]:
thats = pandas.DataFrame(thats)
thats.rename(columns = {0: 'text_id', 1 : 'sentence_id', 2 : 'token_id', 3 : 'mistake_type', 4 : 'error_span', 5 : 'correction', 6 : 'full_text', 7 : 'tokens_ids', 
                               8 : 'dependencies', 9 : 'corrected_text', 10 : 'corrected_with_ids', 11 : 'dependencies_heptabot'}, inplace = True)
thats = thats.drop_duplicates(subset=['corrected_text'], ignore_index=True)

In [212]:
#for el in thats.values:
#  change_gerund_constructions(el)

In [213]:
punctuation = punctuation[punctuation['corrected_text'].apply(lambda x: x not in thats['corrected_text'].values)]
adding_commas = adding_commas[adding_commas['corrected_text'].apply(lambda x: x not in thats['corrected_text'].values)]

In [214]:
preps3 = []
for el in adding_commas.values:
  if str(el[4]) + ',' == str(el[5]):
    element = str(el[4])
    f = re.findall(r'[a-zA-Z]+', element)
    a = re.findall(r'\d+', element)
    k = re.findall(r'\W', element)
    all = f+a+k
    if ' ' in all:
      all.remove(' ')

    length = len(all)

    index = int(el[2]) + int(length)

    if el[8][index][3] == 'prep':
      preps3.append(el)
    elif el[8][index+1][3] == 'prep':
      preps3.append(el)
    else:

      i = int(el[2])
      index1 = list(el[7].keys())[0]
      index2 = int(el[2])
      try:
        if el[8][i][0] !=',':
          while el[8][i][3] != 'prep':
            i -= 1
            index1 = i





        indexes = range(index1, index2)
        poss_ifs = []
        for i in indexes:
          poss_ifs.append(el[8][i][3])
          

          if poss_ifs[0] == 'prep':
            preps3.append(el)
          elif 'prep' in poss_ifs:
            preps3.append(el)
      
      except:
        pass

In [215]:
preps3 = pandas.DataFrame(preps3)
preps3.rename(columns = {0: 'text_id', 1 : 'sentence_id', 2 : 'token_id', 3 : 'mistake_type', 4 : 'error_span', 5 : 'correction', 6 : 'full_text', 7 : 'tokens_ids', 
                               8 : 'dependencies', 9 : 'corrected_text', 10 : 'corrected_with_ids', 11 : 'dependencies_heptabot'}, inplace = True)
preps3 = preps3.drop_duplicates(subset=['corrected_text'], ignore_index=True)

In [216]:
def change_preps_inside(sample):
  tag = 'punctuation'

  pprint("USER'S TEXT: " + sample[6])
  pprint('CORRECTED TEXT: ' + str(sample[9]))
  index = int(el[2])
  if el[8][index][3] == 'prep':
    index1 = int(el[2])
    error_area = el[7][index1]

    pprint('CORRECTION: ' + str(error_area) + ',')
    pprint('ERROR AREA: '+ str(error_area))
    pprint('TAG: ' + tag)
  elif el[8][index+1][3] == 'prep':
    index1 = int(el[2]) + 1
    error_area = el[7][int(el[2]) + 1]

    pprint('CORRECTION: ' + ', ' + str(error_area))
    pprint('ERROR AREA: '+ str(error_area))
    pprint('TAG: ' + tag)

  elif el[8][index+2][3] == 'prep':
    index1 = int(el[2]) + 2
    error_area = el[7][int(el[2]) + 1]

    pprint('CORRECTION: ' + ', ' + str(error_area))
    pprint('ERROR AREA: '+ str(error_area))
    pprint('TAG: ' + tag)

  else:
    i = int(el[2])
    index1 = list(el[7].keys())[0]
    index2 = int(el[2])
    while el[8][i][3] != 'prep':
      i -= 1
      index1 = i 





    indexes = range(index1, index2+1)
    error_area = []
    for i in indexes:
      error_area.append(el[7][i])
    pprint('CORRECTION: ' + ' '.join(error_area) + ',')
    pprint('ERROR AREA: '+ ' '.join(error_area))
    pprint('TAG: ' + tag)

In [217]:
#for el in preps3.values:
#  change_preps_inside(el)

In [218]:
punctuation = punctuation[punctuation['corrected_text'].apply(lambda x: x not in preps3['corrected_text'].values)]
adding_commas = adding_commas[adding_commas['corrected_text'].apply(lambda x: x not in preps3['corrected_text'].values)]

In [219]:
other_cases1 = []
for el in adding_commas.values:
  if (str(el[4])) +',' == str(el[5]):
    other_cases1.append(el)

In [220]:
other_cases1 = pandas.DataFrame(other_cases1)
other_cases1.rename(columns = {0: 'text_id', 1 : 'sentence_id', 2 : 'token_id', 3 : 'mistake_type', 4 : 'error_span', 5 : 'correction', 6 : 'full_text', 7 : 'tokens_ids', 
                               8 : 'dependencies', 9 : 'corrected_text', 10 : 'corrected_with_ids', 11 : 'dependencies_heptabot'}, inplace = True)
other_cases1 = other_cases1.drop_duplicates(subset=['corrected_text'], ignore_index=True)

In [221]:
#for el in other_cases1.values:
#  change_gerund_constructions(el)

In [222]:
punctuation = punctuation[punctuation['corrected_text'].apply(lambda x: x not in other_cases1['corrected_text'].values)]
adding_commas = adding_commas[adding_commas['corrected_text'].apply(lambda x: x not in other_cases1['corrected_text'].values)]

In [223]:
def change_other_cases2(sample):
  tag = 'punctuation'
  element = str(el[4])
  f = re.findall(r'[a-zA-Z]+', element)
  a = re.findall(r'\d+', element)
  k = re.findall(r'\W', element)
  all = f+a+k
  if ' ' in all:
    all.remove(' ')

  length = len(all)

  index1 = int(el[2])
  index2 = int(el[2]) + int(length)

  indexes = range(index1, index2)
  error_area = []
  for i in indexes:
    error_area.append(el[7][i])

  pprint('CORRECTION: ' + str(sample[5]))
  pprint('ERROR AREA: '+ ' '.join(error_area))
  pprint('TAG: ' + tag)

In [224]:
#for el in adding_commas.values:
#  change_other_cases2(el)

In [225]:
punctuation = punctuation[punctuation['corrected_text'].apply(lambda x: x not in adding_commas['corrected_text'].values)]

In [226]:
dots_end = []
for el in punctuation.values:
  for i in string.punctuation:
    if i not in str(el[4]):
      if str(el[5]).endswith('.'):
        dots_end.append(el)

In [227]:
dots_end = pandas.DataFrame(dots_end)
dots_end.rename(columns = {0: 'text_id', 1 : 'sentence_id', 2 : 'token_id', 3 : 'mistake_type', 4 : 'error_span', 5 : 'correction', 6 : 'full_text', 7 : 'tokens_ids', 
                               8 : 'dependencies', 9 : 'corrected_text', 10 : 'corrected_with_ids', 11 : 'dependencies_heptabot'}, inplace = True)
dots_end = dots_end.drop_duplicates(subset=['corrected_text'], ignore_index=True)

In [228]:
def change_dots_end(sample):
  pprint("USER'S TEXT: " + sample[6])
  pprint('CORRECTED TEXT: ' + str(sample[9]))
  tag = 'punctuation'

  element = str(el[4])
  f = re.findall(r'[a-zA-Z]+', element)
  a = re.findall(r'\d+', element)
  k = re.findall(r'\W', element)
  all = f+a+k
  if ' ' in all:
    all.remove(' ')

  length = len(all)


  i = list(sample[7].keys())[0]
  index1 = list(sample[7].keys())[0]
  while i != el[2]:
    i += 1
    if el[7][i] == ',':
      index1 = i + 1

  index2 = int(el[2]) 
  indexes = range(index1, index2+length)

  error_area = []
  for b in indexes:
    error_area.append(str(el[7][b]))


  pprint('CORRECTION: ' + ' '.join(error_area) + '.')
  pprint('ERROR AREA: '+ ' '.join(error_area))
  pprint('TAG: ' + tag)

In [229]:
#for el in dots_end.values:
#  change_dots_end(el)

In [230]:
punctuation = punctuation[punctuation['corrected_text'].apply(lambda x: x not in dots_end['corrected_text'].values)]

In [231]:
poor_cases = []
for el in punctuation.values:
  if isinstance(el[4],float):
    el4 = str(int(el[4]))
  else:
    el4 = str(el[4])
  if el4 == str(el[5]):
    poor_cases.append(el)

In [232]:
poor_cases = pandas.DataFrame(poor_cases)
poor_cases.rename(columns = {0: 'text_id', 1 : 'sentence_id', 2 : 'token_id', 3 : 'mistake_type', 4 : 'error_span', 5 : 'correction', 6 : 'full_text', 7 : 'tokens_ids', 
                               8 : 'dependencies', 9 : 'corrected_text', 10 : 'corrected_with_ids', 11 : 'dependencies_heptabot'}, inplace = True)
poor_cases = poor_cases.drop_duplicates(subset=['corrected_text'], ignore_index=True)

In [233]:
punctuation = punctuation[punctuation['corrected_text'].apply(lambda x: x not in poor_cases['corrected_text'].values)]

In [234]:
dots_start = []
for el in punctuation.values:
  element = str(el[4])
  f = re.findall(r'[a-zA-Z]+', element)
  a = re.findall(r'\d+', element)
  k = re.findall(r'\W', element)
  all = f+a+k
  if ' ' in all:
    all.remove(' ')

  if len(all) == 1:
    if all[0].isalpha():
      if str(el[5]).startswith('.'):
          dots_start.append(el)

In [235]:
dots_start = pandas.DataFrame(dots_start)
dots_start.rename(columns = {0: 'text_id', 1 : 'sentence_id', 2 : 'token_id', 3 : 'mistake_type', 4 : 'error_span', 5 : 'correction', 6 : 'full_text', 7 : 'tokens_ids', 
                               8 : 'dependencies', 9 : 'corrected_text', 10 : 'corrected_with_ids', 11 : 'dependencies_heptabot'}, inplace = True)
dots_start = dots_start.drop_duplicates(subset=['corrected_text'], ignore_index=True)

In [236]:
def change_dots2(sample):

  tag = 'punctuation'
  parts_of_sentences = ['ROOT', 'relcl', 'nsubj', 'expl', 'conj', 'ccomp', 'aux', 
                      'neg', 'nsubjpass','punct','intj', 'acl']
  
  all_sents = []
  first_sent = []
  for el in sample[11].values():
    if el[-1] in parts_of_sentences:
      all_sents.append(el)

  for i in all_sents:
    first_sent.append(i)
    if i[0] == '.':
      ind = all_sents.index(i)
      break
      
  second_sent = all_sents[ind::]
  del first_sent[-1]

  if len(first_sent) >= 4:
    pass

  else:
    parts_of_sentences2 = ['nsubj','ROOT', 'expl']
    sent = []
    for el in first_sent:
      if el in parts_of_sentences2:
        sent.append(el)
        if len(sent) >= 2:
          pass
        else:
          'the comma is not needed'

  index1 = int(list(sample[8].keys())[0])
  index2 = int(sample[2]) + 1
  indexes = range(index1, index2)
  error_area = [sample[7][i] for i in indexes]

  pprint("USER'S TEXT: " + sample[6])
  pprint('CORRECTED TEXT: ' + str(sample[9]))



  if len(str(sample[4]).split()) == len(str(sample[5]).split()):
    error_area = error_area[0:-1]
    pprint('CORRECTION: ' + ' '.join(error_area) + '.')
    pprint('ERROR AREA: '+ ' '.join(error_area))
    pprint('TAG: ' + tag)

  elif '. '+str(sample[4]).lower() == str(sample[5]).lower():
    error_area = error_area[0:-1]
    pprint('CORRECTION: ' + ' '.join(error_area) + '.')
    pprint('ERROR AREA: '+ ' '.join(error_area))
    pprint('TAG: ' + tag)

  else:
    error_area = error_area[0:-1]
    pprint('CORRECTION: ' + ' '.join(error_area) + '.')
    pprint('ERROR AREA: '+ ' '.join(error_area))
    pprint('TAG: ' + tag)


    if 'a' in str(sample[5]).lower().split() or 'the' in str(sample[5]).lower().split():
      tag = 'articles'
      index1 = int(sample[2]) + 1
      index2 = int(list(sample[7].keys())[-1])
      indexes = range(index1, index2)
      for ind in indexes:
        if sample[8][ind][1] != 'NOUN':
          index2 = ind + 1
          break

      indexes = range(index1, index2+1)
      error_area = []
      for ind in indexes:
        error_area.append(str(sample[7][ind]))

      pprint('CORRECTION: ' + str(sample[5]).split()[1] + ' ' +' '.join(error_area))
      pprint('ERROR AREA: '+ ' '.join(error_area))
      pprint('TAG: ' + tag)

    elif 'a' in str(sample[4]).lower().split() or 'the' in str(sample[4]).lower().split():
      if 'a' not in str(sample[5]).lower().split() or 'the' not in str(sample[5]).lower().split():
        tag = 'articles'
        index1 = int(sample[2]) + 1
        index2 = int(list(sample[7].keys())[-1])
        indexes = range(index1, index2)
        for ind in indexes:
          if sample[8][ind][1] != 'NOUN':
            index2 = ind + 1
            break

        indexes = range(index1, index2+1)
        error_area = []
        for ind in indexes:
          error_area.append(str(sample[7][ind+1]))

        correction = []
        for ind in indexes:
          correction.append(str(sample[10][ind+1]))

        pprint('CORRECTION: ' + ' '.join(correction[0:-1]))
        pprint('ERROR AREA: '+ ' '.join(error_area))
        pprint('TAG: ' + tag)
    else:
      print('HERE ANOTHER CASE!!!!!!')

  print('\n')

In [237]:
#for el in dots_start.values:
#  change_dots2(el)

In [238]:
punctuation = punctuation[punctuation['corrected_text'].apply(lambda x: x not in dots_start['corrected_text'].values)]

In [239]:
commas_start = []
for el in punctuation.values:
  element = str(el[4])
  f = re.findall(r'[a-zA-Z]+', element)
  a = re.findall(r'\d+', element)
  k = re.findall(r'\W', element)
  all = f+a+k
  if ' ' in all:
    all.remove(' ')

  if len(all) == 1:
    if all[0].isalpha():
      if str(el[5]).startswith(','):
          commas_start.append(el)

In [240]:
commas_start = pandas.DataFrame(commas_start)
commas_start.rename(columns = {0: 'text_id', 1 : 'sentence_id', 2 : 'token_id', 3 : 'mistake_type', 4 : 'error_span', 5 : 'correction', 6 : 'full_text', 7 : 'tokens_ids', 
                               8 : 'dependencies', 9 : 'corrected_text', 10 : 'corrected_with_ids', 11 : 'dependencies_heptabot'}, inplace = True)
commas_start = commas_start.drop_duplicates(subset=['corrected_text'], ignore_index=True)

In [241]:
def change_commas_start(sample):
  tag = 'punctuation'
  parts_of_sentences = ['ROOT', 'relcl', 'nsubj', 'expl', 'conj', 'ccomp', 'aux', 
                      'neg', 'nsubjpass','punct','intj', 'acl']
  
  all_sents = []
  first_sent = []
  for el in sample[11].values():
    if el[-1] in parts_of_sentences:
      all_sents.append(el)

  for i in all_sents:
    first_sent.append(i)
    if i[0] == '.':
      ind = all_sents.index(i)
      break
      
  second_sent = all_sents[ind::]
  del first_sent[-1]

  if len(first_sent) >= 4:
    pass

  else:
    parts_of_sentences2 = ['nsubj','ROOT', 'expl']
    sent = []
    for el in first_sent:
      if el in parts_of_sentences2:
        sent.append(el)
        if len(sent) >= 2:
          pass
        else:
          'the comma is not needed'

  index1 = int(list(sample[8].keys())[0])
  index2 = int(sample[2]) + 1
  indexes = range(index1, index2)
  error_area = [sample[7][i] for i in indexes]

  pprint("USER'S TEXT: " + sample[6])
  pprint('CORRECTED TEXT: ' + str(sample[9]))

  error_area = error_area[0:-1]
  pprint('CORRECTION: ' + ' '.join(error_area) + ',')
  pprint('ERROR AREA: '+ ' '.join(error_area))
  pprint('TAG: ' + tag)

  if ', ' + str(sample[4]).lower() == str(sample[5].lower()):
    tag = 'capitalization'
    pprint('CORRECTION: ' + str(sample[5].split()[1]))
    pprint('ERROR AREA: '+  str(sample[4]))
    pprint('TAG: ' + tag)
  elif len(list(set(list(sample[4])) ^ set(list(sample[5])))) < 4:
    tag = 'spelling'
    pprint('CORRECTION: ' + str(sample[5].split()[1]))
    pprint('ERROR AREA: '+  str(sample[4]))
    pprint('TAG: ' + tag)
  elif len(list(set(list(sample[4])) ^ set(list(sample[5])))) > 3:
    tag = 'wrong word'
    pprint('CORRECTION: ' + str(sample[5].split()[1]))
    pprint('ERROR AREA: '+  str(sample[4]))
    pprint('TAG: ' + tag)
  print('\n')

In [242]:
#for el in commas_start.values:
#  change_commas_start(el)

In [243]:
punctuation = punctuation[punctuation['corrected_text'].apply(lambda x: x not in commas_start['corrected_text'].values)]

In [244]:
non_punctuation = []
for el in punctuation.values:
  element = str(el[4])
  element2 = str(el[5])

  f = re.findall(r'[a-zA-Z]+', element)
  a = re.findall(r'\d+', element)
  k = re.findall(r'\W', element)
  all1 = f+a+k
  if ' ' in all1:
    all1.remove(' ')

  f = re.findall(r'[a-zA-Z]+', element2)
  a = re.findall(r'\d+', element2)
  k = re.findall(r'\W', element2)
  all2 = f+a+k
  if ' ' in all2:
    all2.remove(' ')
  

  if ',' not in all1 and '.' not in all1 and ':' not in all1:
    if ',' not in all2 and '.' not in all2 and ':' not in all2:
      non_punctuation.append(el)

In [245]:
non_punctuation = pandas.DataFrame(non_punctuation)
non_punctuation.rename(columns = {0: 'text_id', 1 : 'sentence_id', 2 : 'token_id', 3 : 'mistake_type', 4 : 'error_span', 5 : 'correction', 6 : 'full_text', 7 : 'tokens_ids', 
                               8 : 'dependencies', 9 : 'corrected_text', 10 : 'corrected_with_ids', 11 : 'dependencies_heptabot'}, inplace = True)
non_punctuation = non_punctuation.drop_duplicates(subset=['corrected_text'], ignore_index=True)

In [250]:
def change_nonpunctuation(sample):
  tag='?'
  pprint("USER'S TEXT: " + sample[6])
  pprint('CORRECTED TEXT: ' + str(sample[9]))

  index = sample[2]
  correction = str(sample[5])
  pprint('CORRECTION: ' + correction)
  pprint('ERROR AREA: '+ str(sample[7][index]))
  pprint('TAG: ' + tag)

In [252]:
#for el in non_punctuation.values:
#  change_nonpunctuation(el)

In [253]:
punctuation = punctuation[punctuation['corrected_text'].apply(lambda x: x not in non_punctuation['corrected_text'].values)]

In [255]:
numerals = []
for el in punctuation.values:
  if isinstance(el[4],float):
    el4 = str(int(el[4]))
  else:
    el4 = str(el[4])
  if el4.isnumeric():
    if str(el[5]).endswith('%'):
      numerals.append(el)

In [256]:
numerals = pandas.DataFrame(numerals)
numerals.rename(columns = {0: 'text_id', 1 : 'sentence_id', 2 : 'token_id', 3 : 'mistake_type', 4 : 'error_span', 5 : 'correction', 6 : 'full_text', 7 : 'tokens_ids', 
                               8 : 'dependencies', 9 : 'corrected_text', 10 : 'corrected_with_ids', 11 : 'dependencies_heptabot'}, inplace = True)
numerals = numerals.drop_duplicates(subset=['corrected_text'], ignore_index=True)

In [258]:
def change_numerals(sample):
  
  tag='numerals'
  pprint("USER'S TEXT: " + sample[6])
  pprint('CORRECTED TEXT: ' + str(sample[9]))

  index = sample[2]
  correction = str(sample[5])
  pprint('CORRECTION: ' + correction)
  pprint('ERROR AREA: '+ str(sample[7][index]))
  pprint('TAG: ' + tag)

In [260]:
#for el in numerals.values:
#  change_numerals(el)

In [261]:
punctuation = punctuation[punctuation['corrected_text'].apply(lambda x: x not in numerals['corrected_text'].values)]

In [265]:
years2_commas = []
for el in punctuation.values:
  if isinstance(el[4],float):
    el4 = str(int(el[4]))
  else:
    el4 = str(el[4])
  if el4.isnumeric():
    if el4+',' == str(el[5]):
      years2_commas.append(el)

In [266]:
years2_commas = pandas.DataFrame(years2_commas)
years2_commas.rename(columns = {0: 'text_id', 1 : 'sentence_id', 2 : 'token_id', 3 : 'mistake_type', 4 : 'error_span', 5 : 'correction', 6 : 'full_text', 7 : 'tokens_ids', 
                               8 : 'dependencies', 9 : 'corrected_text', 10 : 'corrected_with_ids', 11 : 'dependencies_heptabot'}, inplace = True)
years2_commas = years2_commas.drop_duplicates(subset=['corrected_text'], ignore_index=True)

In [280]:
def change_years2(sample):
  pprint("USER'S TEXT: " + sample[6])
  pprint('CORRECTED TEXT: ' + str(sample[9]))
  tag = 'punctuation'


  i = list(sample[7].keys())[0]
  index1 = list(sample[7].keys())[0]
  while i != el[2]:
    i += 1
    if el[7][i] == ',':
      index1 = i + 1

  index2 = int(el[2]) 
  indexes = range(index1, index2 + 1)

  error_area = []
  for b in indexes:
    error_area.append(str(el[7][b]))


  pprint('CORRECTION: ' + ' '.join(error_area) + ',')
  pprint('ERROR AREA: '+ ' '.join(error_area))
  pprint('TAG: ' + tag)

In [282]:
#for el in years2_commas.values:
#  change_years2(el)

In [283]:
punctuation = punctuation[punctuation['corrected_text'].apply(lambda x: x not in years2_commas['corrected_text'].values)]

In [304]:
commas_dot3 = []
for el in punctuation.values:
  try:

    if str(el[4]).startswith(','):
      if str(el[5]).startswith('.'):
        if el[4].split()[1] == el[5].split()[1].lower():
          commas_dot3.append(el)

  except:
    pass

In [305]:
commas_dot3 = pandas.DataFrame(commas_dot3)
commas_dot3.rename(columns = {0: 'text_id', 1 : 'sentence_id', 2 : 'token_id', 3 : 'mistake_type', 4 : 'error_span', 5 : 'correction', 6 : 'full_text', 7 : 'tokens_ids', 
                               8 : 'dependencies', 9 : 'corrected_text', 10 : 'corrected_with_ids', 11 : 'dependencies_heptabot'}, inplace = True)
commas_dot3 = commas_dot3.drop_duplicates(subset=['corrected_text'], ignore_index=True)

In [414]:
def change_commas_dots3(sample):
  tag = 'punctuation'
  parts_of_sentences = ['ROOT', 'relcl', 'nsubj', 'expl', 'conj', 'ccomp', 'aux', 
                      'neg', 'nsubjpass','punct','intj', 'acl']
  
  all_sents = []
  first_sent = []
  for el in sample[11].values():

    if el[-1] in parts_of_sentences:
      all_sents.append(el)

  for i in all_sents:
    first_sent.append(i)
    if i[0] == '.':
      ind = all_sents.index(i)
      break
      
  second_sent = all_sents[ind::]
  del first_sent[-1]

  if len(first_sent) >= 4:
    pass

  else:
    parts_of_sentences2 = ['nsubj','ROOT', 'expl']
    sent = []
    for el in first_sent:
      if el in parts_of_sentences2:
        sent.append(el)
        if len(sent) >= 2:
          pass
        else:
          'the comma is not needed'

  index1 = int(list(sample[8].keys())[0])
  index2 = int(sample[2]) + 1
  indexes = range(index1, index2)
  error_area = [sample[7][i] for i in indexes]

  pprint("USER'S TEXT: " + sample[6])
  pprint('CORRECTED TEXT: ' + str(sample[9]))

  error_area = error_area[0:-1]
  pprint('CORRECTION: ' + ' '.join(error_area) + '.')
  pprint('ERROR AREA: '+ ' '.join(error_area))
  pprint('TAG: ' + tag)

  if str(sample[4]).endswith('the'):
    element = str(sample[4])


    f = re.findall(r'[a-zA-Z]+', element)
    a = re.findall(r'\d+', element)
    k = re.findall(r'\W', element)
    all = f+a+k
    if ' ' in all:
      all.remove(' ')
    length = len(all)
    
    tag = 'articles'
    index = int(sample[2]) + length - 1
    pprint('CORRECTION: ' +str(sample[7][index]))
    pprint('ERROR AREA: '+  str(sample[7][index-1])+' '+ str(sample[7][index]))
    pprint('TAG: ' + tag)

  print('\n')

In [416]:
#for el in commas_dot3.values:
#  change_commas_dots3(el)

In [331]:
punctuation = punctuation[punctuation['corrected_text'].apply(lambda x: x not in commas_dot3['corrected_text'].values)]

In [338]:
dots_commas = []
for el in punctuation.values:
  try:

    if str(el[4]).startswith('.'):
      if str(el[5]).startswith(','):
        if el[4].split()[1].lower() == el[5].split()[1]:
          dots_commas.append(el)

  except:
    pass

In [339]:
dots_commas = pandas.DataFrame(dots_commas)
dots_commas.rename(columns = {0: 'text_id', 1 : 'sentence_id', 2 : 'token_id', 3 : 'mistake_type', 4 : 'error_span', 5 : 'correction', 6 : 'full_text', 7 : 'tokens_ids', 
                               8 : 'dependencies', 9 : 'corrected_text', 10 : 'corrected_with_ids', 11 : 'dependencies_heptabot'}, inplace = True)
dots_commas = dots_commas.drop_duplicates(subset=['corrected_text'], ignore_index=True)

In [346]:
def change_dots_commas(sample):
  tag = 'punctuation'
  parts_of_sentences = ['ROOT', 'relcl', 'nsubj', 'expl', 'conj', 'ccomp', 'aux', 
                      'neg', 'nsubjpass','punct','intj', 'acl']
  
  all_sents = []
  first_sent = []
  for el in sample[11].values():

    if el[-1] in parts_of_sentences:
      all_sents.append(el)

  for i in all_sents:
    first_sent.append(i)
    if i[0] == '.':
      ind = all_sents.index(i)
      break
      
  second_sent = all_sents[ind::]
  del first_sent[-1]

  if len(first_sent) >= 4:
    pass

  else:
    parts_of_sentences2 = ['nsubj','ROOT', 'expl']
    sent = []
    for el in first_sent:
      if el in parts_of_sentences2:
        sent.append(el)
        if len(sent) >= 2:
          pass
        else:
          'the comma is not needed'

  index1 = int(list(sample[8].keys())[0])
  index2 = int(sample[2]) + 1
  indexes = range(index1, index2)
  error_area = [sample[7][i] for i in indexes]

  pprint("USER'S TEXT: " + sample[6])
  pprint('CORRECTED TEXT: ' + str(sample[9]))

  error_area = error_area[0:-1]
  pprint('CORRECTION: ' + ' '.join(error_area) + ',')
  pprint('ERROR AREA: '+ ' '.join(error_area))
  pprint('TAG: ' + tag)

  print('\n')

In [348]:
#for el in dots_commas.values:
#  change_dots_commas(el)

In [349]:
punctuation = punctuation[punctuation['corrected_text'].apply(lambda x: x not in dots_commas['corrected_text'].values)]

In [356]:
commas_colon = []
for el in punctuation.values:
  if str(el[4]).startswith(','):
    if str(el[5]).startswith(';'):
      commas_colon.append(el)

In [357]:
commas_colon = pandas.DataFrame(commas_colon)
commas_colon.rename(columns = {0: 'text_id', 1 : 'sentence_id', 2 : 'token_id', 3 : 'mistake_type', 4 : 'error_span', 5 : 'correction', 6 : 'full_text', 7 : 'tokens_ids', 
                               8 : 'dependencies', 9 : 'corrected_text', 10 : 'corrected_with_ids', 11 : 'dependencies_heptabot'}, inplace = True)
commas_colon = commas_colon.drop_duplicates(subset=['corrected_text'], ignore_index=True)

In [364]:
def change_commas_colon(sample):
  tag = 'punctuation'
  parts_of_sentences = ['ROOT', 'relcl', 'nsubj', 'expl', 'conj', 'ccomp', 'aux', 
                      'neg', 'nsubjpass','punct','intj', 'acl']
  
  all_sents = []
  first_sent = []
  for el in sample[11].values():

    if el[-1] in parts_of_sentences:
      all_sents.append(el)

  for i in all_sents:
    first_sent.append(i)
    if i[0] == '.':
      ind = all_sents.index(i)
      break
      
  second_sent = all_sents[ind::]
  del first_sent[-1]

  if len(first_sent) >= 4:
    pass

  else:
    parts_of_sentences2 = ['nsubj','ROOT', 'expl']
    sent = []
    for el in first_sent:
      if el in parts_of_sentences2:
        sent.append(el)
        if len(sent) >= 2:
          pass
        else:
          'the comma is not needed'

  index1 = int(list(sample[8].keys())[0])
  index2 = int(sample[2]) + 2
  indexes = range(index1, index2)
  error_area = [sample[7][i] for i in indexes]

  pprint("USER'S TEXT: " + sample[6])
  pprint('CORRECTED TEXT: ' + str(sample[9]))

  error_area = error_area[0:-1]
  pprint('CORRECTION: ' + ' '.join(error_area[0:-1]) + ';')
  pprint('ERROR AREA: '+ ' '.join(error_area))
  pprint('TAG: ' + tag)

  print('\n')

In [366]:
#for el in commas_colon.values:
 # change_commas_colon(el)

In [367]:
punctuation = punctuation[punctuation['corrected_text'].apply(lambda x: x not in commas_colon['corrected_text'].values)]

In [370]:
delete_commas2 = []
for el in punctuation.values:
  if str(el[4]).startswith(','):
    if str(el[5]).isalpha():
      delete_commas2.append(el)

In [371]:
delete_commas2 = pandas.DataFrame(delete_commas2)
delete_commas2.rename(columns = {0: 'text_id', 1 : 'sentence_id', 2 : 'token_id', 3 : 'mistake_type', 4 : 'error_span', 5 : 'correction', 6 : 'full_text', 7 : 'tokens_ids', 
                               8 : 'dependencies', 9 : 'corrected_text', 10 : 'corrected_with_ids', 11 : 'dependencies_heptabot'}, inplace = True)
delete_commas2 = delete_commas2.drop_duplicates(subset=['corrected_text'], ignore_index=True)

In [407]:
def change_delete_commas2(sample):
  tag = 'punctuation'
  parts_of_sentences = ['ROOT', 'relcl', 'nsubj', 'expl', 'conj', 'ccomp', 'aux', 
                      'neg', 'nsubjpass','punct','intj', 'acl']
  
  all_sents = []
  first_sent = []
  for el in sample[11].values():
    if el[-1] in parts_of_sentences:
      all_sents.append(el)

  for i in all_sents:
    first_sent.append(i)
    if i[0] == '.':
      ind = all_sents.index(i)
      break
      
  second_sent = all_sents[ind::]
  del first_sent[-1]

  if len(first_sent) >= 4:
    pass

  else:
    parts_of_sentences2 = ['nsubj','ROOT', 'expl']
    sent = []
    for el in first_sent:
      if el in parts_of_sentences2:
        sent.append(el)
        if len(sent) >= 2:
          pass
        else:
          'the comma is not needed'

  index1 = int(list(sample[8].keys())[0])
  index2 = int(sample[2]) + 1
  indexes = range(index1, index2)
  error_area = [sample[7][i] for i in indexes]

  pprint("USER'S TEXT: " + sample[6])
  pprint('CORRECTED TEXT: ' + str(sample[9]))

  error_area = error_area
  pprint('CORRECTION: ' + ' '.join(error_area[0:-1]))
  pprint('ERROR AREA: '+ ' '.join(error_area))
  pprint('TAG: ' + tag)

  if len(list(set(list(sample[4].split()[1])) ^ set(list(sample[5])))) < 4:
    element = sample[4]
    f = re.findall(r'[a-zA-Z]+', element)
    a = re.findall(r'\d+', element)
    k = re.findall(r'\W', element)
    all = f+a+k
    if ' ' in all:
      all.remove(' ')
    length = len(all)
    index = int(sample[2]) + length -1

    tag = 'spelling'
    pprint('CORRECTION: ' + str(sample[5].split()[0]))
    pprint('ERROR AREA: '+  str(sample[7][index]))
    pprint('TAG: ' + tag)

In [409]:
#for el in delete_commas2.values:
#  change_delete_commas2(el)

In [405]:
punctuation = punctuation[punctuation['corrected_text'].apply(lambda x: x not in delete_commas2['corrected_text'].values)]

In [456]:
conj_and_articles = []
for el in punctuation.values:
  try:
    if el[4].isalpha():
      element = el[5]
      f = re.findall(r'[a-zA-Z]+', element)
      a = re.findall(r'\d+', element)
      k = re.findall(r'\W', element)
      all = f+a+k
      if ' ' in all:
        all.remove(' ')
      length = len(all)
      index = int(el[2]) + length - 1
      if el[11][index][1] == 'DET':
        conj_and_articles.append(el)
      elif el[11][index][1] == 'CCONJ':
        conj_and_articles.append(el)
  except:
    pass

In [457]:
conj_and_articles = pandas.DataFrame(conj_and_articles)
conj_and_articles.rename(columns = {0: 'text_id', 1 : 'sentence_id', 2 : 'token_id', 3 : 'mistake_type', 4 : 'error_span', 5 : 'correction', 6 : 'full_text', 7 : 'tokens_ids', 
                               8 : 'dependencies', 9 : 'corrected_text', 10 : 'corrected_with_ids', 11 : 'dependencies_heptabot'}, inplace = True)
conj_and_articles = conj_and_articles.drop_duplicates(subset=['corrected_text'], ignore_index=True)

In [478]:
def change_conj_and_articles(sample):
  tag = 'punctuation'
  parts_of_sentences = ['ROOT', 'relcl', 'nsubj', 'expl', 'conj', 'ccomp', 'aux', 
                      'neg', 'nsubjpass','punct','intj', 'acl']
  
  all_sents = []
  first_sent = []
  for el in sample[11].values():
    if el[-1] in parts_of_sentences:
      all_sents.append(el)

  for i in all_sents:
    first_sent.append(i)
    if i[0] == '.':
      ind = all_sents.index(i)
      break
      
  second_sent = all_sents[ind::]
  del first_sent[-1]

  if len(first_sent) >= 4:
    pass

  else:
    parts_of_sentences2 = ['nsubj','ROOT', 'expl']
    sent = []
    for el in first_sent:
      if el in parts_of_sentences2:
        sent.append(el)
        if len(sent) >= 2:
          pass
        else:
          'the comma is not needed'

  index1 = int(list(sample[8].keys())[0])
  index2 = int(sample[2]) + 1
  indexes = range(index1, index2)
  error_area = [sample[7][i] for i in indexes]

  pprint("USER'S TEXT: " + sample[6])
  pprint('CORRECTED TEXT: ' + str(sample[9]))

  error_area = error_area
  pprint('CORRECTION: ' + ' '.join(error_area) + ',')
  pprint('ERROR AREA: '+ ' '.join(error_area))
  pprint('TAG: ' + tag)

  element = sample[5]
  f = re.findall(r'[a-zA-Z]+', element)
  a = re.findall(r'\d+', element)
  k = re.findall(r'\W', element)
  all = f+a+k
  if ' ' in all:
    all.remove(' ')
  length = len(all)
  index = int(sample[2]) + length -1
  if sample[11][index][0] == 'a':
    element = str(sample[4])


    f = re.findall(r'[a-zA-Z]+', element)
    a = re.findall(r'\d+', element)
    k = re.findall(r'\W', element)
    all = f+a+k
    if ' ' in all:
      all.remove(' ')
    length = len(all)
    
    tag = 'articles'
    index = int(sample[2]) + length 
    pprint('CORRECTION: ' + 'a ' + str(sample[7][index]))
    pprint('ERROR AREA: '+  str(sample[7][index]))
    pprint('TAG: ' + tag)

  elif sample[11][index][1] == 'CCONJ':
    tag = 'absence'
    index = sample[2]
    pprint('CORRECTION: ' + str(sample[5]))
    pprint('ERROR AREA: '+ str(sample[7][index]))
    pprint('TAG: ' + tag)

In [479]:
#for el in conj_and_articles.values:
#  change_conj_and_articles(el)

In [483]:
solo_punct = []
for el in punctuation.values:
  if str(el[4]) in string.punctuation:
    if str(el[5]) in string.punctuation:
      solo_punct.append(el)

In [484]:
solo_punct = pandas.DataFrame(solo_punct)
solo_punct.rename(columns = {0: 'text_id', 1 : 'sentence_id', 2 : 'token_id', 3 : 'mistake_type', 4 : 'error_span', 5 : 'correction', 6 : 'full_text', 7 : 'tokens_ids', 
                               8 : 'dependencies', 9 : 'corrected_text', 10 : 'corrected_with_ids', 11 : 'dependencies_heptabot'}, inplace = True)
solo_punct = solo_punct.drop_duplicates(subset=['corrected_text'], ignore_index=True)

In [490]:
def change_solo_punct(sample):
  pprint("USER'S TEXT: " + sample[6])
  pprint('CORRECTED TEXT: ' + str(sample[9]))
  tag = 'punctuation'


  i = list(sample[7].keys())[0]
  index1 = list(sample[7].keys())[0]
  while i != el[2]:
    i += 1
    if el[7][i] == ',':
      index1 = i + 1

  index2 = int(el[2]) 
  indexes = range(index1, index2 + 1)

  error_area = []
  for b in indexes:
    error_area.append(str(el[7][b]))


  pprint('CORRECTION: ' + ' '.join(error_area[0:-1])+str(sample[5]))
  pprint('ERROR AREA: '+ ' '.join(error_area))
  pprint('TAG: ' + tag)

In [492]:
#for el in solo_punct.values:
#  change_solo_punct(el)

In [512]:
def change_other_cases(sample):
  pprint("USER'S TEXT: " + sample[6])
  pprint('CORRECTED TEXT: ' + str(sample[9]))
  tag = 'punctuation'


  element = sample[4]
  f = re.findall(r'[a-zA-Z]+', element)
  a = re.findall(r'\d+', element)
  k = re.findall(r'\W', element)
  all = f+a+k
  if ' ' in all:
    all.remove(' ')
  length = len(all)
  index2 = int(sample[2]) + length
  index1 = int(sample[2])
  indexes = range(index1, index2)
  
  error_area = []
  for ind in indexes:
    error_area.append(str(sample[7][ind]))
  pprint('CORRECTION: ' + str(sample[5]))
  pprint('ERROR AREA: '+ ' '.join(error_area))
  pprint('TAG: ' + tag)

In [514]:
for el in punctuation.values:
  try:
    change_other_cases(el)
  except:
    print(el)

("USER'S TEXT: As Africa Today had recenly reported 78% of students living in "
 'Africa simply do not have enough income to pay for University. Moreover, '
 'there are some professions requiring special education and equipment.')
('CORRECTED TEXT: As Africa Today had recenly reported, 78% of students living '
 'in Africa simply do not have enough income to pay for University. Moreover, '
 'there are some professions requiring special education and equipment.')
'CORRECTION: , 78%'
'ERROR AREA: 78 %'
'TAG: punctuation'
("USER'S TEXT: Only germany saw a slight increase from 1990 to 1995 To sum up, "
 'there is a general tendency of a decline in income difference between men '
 'and women, which is quite positive.')
('CORRECTED TEXT: Only germany saw a slight increase from 1990 to 1995.0 To '
 'sum up, there is a general tendency of a decline in income difference '
 'between men and women, which is quite positive.')
[592.0 6.0 128.0 'punct' 1995.0 1995.0
 'Only germany saw a slight increase from 1990 to 1995 To sum up, there is a general tendency of a decline in income difference between men and women, which is quite positive.'
 {119: 'Only', 120: 'germany', 121: 'saw', 122: 'a', 123: 'slight', 124: 'increase', 125: 'from', 126: '1990', 127: 'to', 128: '1995', 129: 'To', 130: 'sum', 131: 'up', 132: ',', 133: 'there', 134: 'is', 135: 'a', 136: 'general', 137: 'tendency', 138: 'of', 139: 'a', 140: 'decline', 141: 'in', 142: 'income', 143: 'difference', 144: 'between', 145: 'men', 146: 'and', 147: 'women', 148: ',', 149: 'which', 150: 'is', 151: 'quite', 152: 'positive', 153: '.'}
 {119: ['Only', 'ADV', 'RB', 'advmod'], 120: ['germany', 'PROPN', 'NNP', 'nsubj'], 121: ['saw', 'VERB', 'VBD', 'ccomp'], 122: ['a', 'DET', 'DT', 'det'], 123: ['slight', 'ADJ', 'JJ', 'amod'], 124: ['increase', 'NOUN', 'NN', 'nsubj'], 125: ['from', 'ADP', 'IN', 'prep'], 126: ['1990', 'NUM', 'CD', 'pobj'], 127: ['to', 'ADP', 'IN', 'prep'], 128: ['1995', 'NUM', 'CD', 'pobj'], 129: ['To', 'PART', 'TO', 'aux'], 130: ['sum', 'VERB', 'VB', 'ccomp'], 131: ['up', 'ADP', 'RP', 'prt'], 132: [',', 'PUNCT', ',', 'punct'], 133: ['there', 'PRON', 'EX', 'expl'], 134: ['is', 'AUX', 'VBZ', 'ROOT'], 135: ['a', 'DET', 'DT', 'det'], 136: ['general', 'ADJ', 'JJ', 'amod'], 137: ['tendency', 'NOUN', 'NN', 'attr'], 138: ['of', 'ADP', 'IN', 'prep'], 139: ['a', 'DET', 'DT', 'det'], 140: ['decline', 'NOUN', 'NN', 'pobj'], 141: ['in', 'ADP', 'IN', 'prep'], 142: ['income', 'NOUN', 'NN', 'compound'], 143: ['difference', 'NOUN', 'NN', 'pobj'], 144: ['between', 'ADP', 'IN', 'prep'], 145: ['men', 'NOUN', 'NNS', 'pobj'], 146: ['and', 'CCONJ', 'CC', 'cc'], 147: ['women', 'NOUN', 'NNS', 'conj'], 148: [',', 'PUNCT', ',', 'punct'], 149: ['which', 'DET', 'WDT', 'nsubj'], 150: ['is', 'AUX', 'VBZ', 'relcl'], 151: ['quite', 'ADV', 'RB', 'advmod'], 152: ['positive', 'ADJ', 'JJ', 'acomp'], 153: ['.', 'PUNCT', '.', 'punct']}
 'Only germany saw a slight increase from 1990 to 1995.0 To sum up, there is a general tendency of a decline in income difference between men and women, which is quite positive.'
 {119: 'Only', 120: 'germany', 121: 'saw', 122: 'a', 123: 'slight', 124: 'increase', 125: 'from', 126: '1990', 127: 'to', 128: '1995', 129: '.', 130: '0', 131: 'To', 132: 'sum', 133: 'up', 134: ',', 135: 'there', 136: 'is', 137: 'a', 138: 'general', 139: 'tendency', 140: 'of', 141: 'a', 142: 'decline', 143: 'in', 144: 'income', 145: 'difference', 146: 'between', 147: 'men', 148: 'and', 149: 'women', 150: ',', 151: 'which', 152: 'is', 153: 'quite', 154: 'positive', 155: '.'}
 {119: ['Only', 'ADV', 'RB', 'advmod'], 120: ['germany', 'PROPN', 'NNP', 'nsubj'], 121: ['saw', 'VERB', 'VBD', 'ROOT'], 122: ['a', 'DET', 'DT', 'det'], 123: ['slight', 'ADJ', 'JJ', 'amod'], 124: ['increase', 'NOUN', 'NN', 'dobj'], 125: ['from', 'ADP', 'IN', 'prep'], 126: ['1990', 'NUM', 'CD', 'pobj'], 127: ['to', 'ADP', 'IN', 'prep'], 128: ['1995', 'NUM', 'CD', 'pobj'], 129: ['.', 'PUNCT', '.', 'punct'], 130: ['0', 'PUNCT', 'NFP', 'punct'], 131: ['To', 'PART', 'TO', 'aux'], 132: ['sum', 'VERB', 'VB', 'advcl'], 133: ['up', 'ADP', 'RP', 'prt'], 134: [',', 'PUNCT', ',', 'punct'], 135: ['there', 'PRON', 'EX', 'expl'], 136: ['is', 'AUX', 'VBZ', 'ROOT'], 137: ['a', 'DET', 'DT', 'det'], 138: ['general', 'ADJ', 'JJ', 'amod'], 139: ['tendency', 'NOUN', 'NN', 'attr'], 140: ['of', 'ADP', 'IN', 'prep'], 141: ['a', 'DET', 'DT', 'det'], 142: ['decline', 'NOUN', 'NN', 'pobj'], 143: ['in', 'ADP', 'IN', 'prep'], 144: ['income', 'NOUN', 'NN', 'compound'], 145: ['difference', 'NOUN', 'NN', 'pobj'], 146: ['between', 'ADP', 'IN', 'prep'], 147: ['men', 'NOUN', 'NNS', 'pobj'], 148: ['and', 'CCONJ', 'CC', 'cc'], 149: ['women', 'NOUN', 'NNS', 'conj'], 150: [',', 'PUNCT', ',', 'punct'], 151: ['which', 'DET', 'WDT', 'nsubj'], 152: ['is', 'AUX', 'VBZ', 'relcl'], 153: ['quite', 'ADV', 'RB', 'advmod'], 154: ['positive', 'ADJ', 'JJ', 'acomp'], 155: ['.', 'PUNCT', '.', 'punct']}]
("USER'S TEXT: As we can see Japans dinamics on the graph, shows stable "
 'decrease of unequality of incomes for 10 years since 1985 to 1995 Those '
 'dinamic is represents all of the countries on the graph, exept the Germany, '
 'where we can see that persentage of diffference of male and female earnings '
 'slightly rising in the last 5 years of researching. As we can see, this '
 'graph shows us a steady drop of difference between male and female incomes.')
('CORRECTED TEXT: As we can see Japans dinamics on the graph, shows stable '
 'decrease of unequality of incomes for 10 years since 1985 to 1995.0 Those '
 'dinamic is represents all of the countries on the graph, exept the Germany, '
 'where we can see that persentage of diffference of male and female earnings '
 'slightly rising in the last 5 years of researching. As we can see, this '
 'graph shows us a steady drop of difference between male and female incomes.')
[1041.0 5.0 82.0 'punct' 1995.0 1995.0
 'As we can see Japans dinamics on the graph, shows stable decrease of unequality of incomes for 10 years since 1985 to 1995 Those dinamic is represents all of the countries on the graph, exept the Germany, where we can see that persentage of diffference of male and female earnings slightly rising in the last 5 years of researching. As we can see, this graph shows us a steady drop of difference between male and female incomes.'
 {59: 'As', 60: 'we', 61: 'can', 62: 'see', 63: 'Japans', 64: 'dinamics', 65: 'on', 66: 'the', 67: 'graph', 68: ',', 69: 'shows', 70: 'stable', 71: 'decrease', 72: 'of', 73: 'unequality', 74: 'of', 75: 'incomes', 76: 'for', 77: '10', 78: 'years', 79: 'since', 80: '1985', 81: 'to', 82: '1995', 83: 'Those', 84: 'dinamic', 85: 'is', 86: 'represents', 87: 'all', 88: 'of', 89: 'the', 90: 'countries', 91: 'on', 92: 'the', 93: 'graph', 94: ',', 95: 'exept', 96: 'the', 97: 'Germany', 98: ',', 99: 'where', 100: 'we', 101: 'can', 102: 'see', 103: 'that', 104: 'persentage', 105: 'of', 106: 'diffference', 107: 'of', 108: 'male', 109: 'and', 110: 'female', 111: 'earnings', 112: 'slightly', 113: 'rising', 114: 'in', 115: 'the', 116: 'last', 117: '5', 118: 'years', 119: 'of', 120: 'researching', 121: '.', 122: 'As', 123: 'we', 124: 'can', 125: 'see', 126: ',', 127: 'this', 128: 'graph', 129: 'shows', 130: 'us', 131: 'a', 132: 'steady', 133: 'drop', 134: 'of', 135: 'difference', 136: 'between', 137: 'male', 138: 'and', 139: 'female', 140: 'incomes', 141: '.'}
 {59: ['As', 'SCONJ', 'IN', 'mark'], 60: ['we', 'PRON', 'PRP', 'nsubj'], 61: ['can', 'VERB', 'MD', 'aux'], 62: ['see', 'VERB', 'VB', 'advcl'], 63: ['Japans', 'PROPN', 'NNPS', 'compound'], 64: ['dinamics', 'NOUN', 'NNS', 'dobj'], 65: ['on', 'ADP', 'IN', 'prep'], 66: ['the', 'DET', 'DT', 'det'], 67: ['graph', 'NOUN', 'NN', 'pobj'], 68: [',', 'PUNCT', ',', 'punct'], 69: ['shows', 'VERB', 'VBZ', 'ROOT'], 70: ['stable', 'ADJ', 'JJ', 'amod'], 71: ['decrease', 'NOUN', 'NN', 'dobj'], 72: ['of', 'ADP', 'IN', 'prep'], 73: ['unequality', 'NOUN', 'NN', 'pobj'], 74: ['of', 'ADP', 'IN', 'prep'], 75: ['incomes', 'NOUN', 'NNS', 'pobj'], 76: ['for', 'ADP', 'IN', 'prep'], 77: ['10', 'NUM', 'CD', 'nummod'], 78: ['years', 'NOUN', 'NNS', 'pobj'], 79: ['since', 'SCONJ', 'IN', 'prep'], 80: ['1985', 'NUM', 'CD', 'pobj'], 81: ['to', 'ADP', 'IN', 'prep'], 82: ['1995', 'NUM', 'CD', 'pobj'], 83: ['Those', 'DET', 'DT', 'det'], 84: ['dinamic', 'NOUN', 'NN', 'nsubj'], 85: ['is', 'AUX', 'VBZ', 'ROOT'], 86: ['represents', 'VERB', 'VBZ', 'attr'], 87: ['all', 'DET', 'DT', 'dobj'], 88: ['of', 'ADP', 'IN', 'prep'], 89: ['the', 'DET', 'DT', 'det'], 90: ['countries', 'NOUN', 'NNS', 'pobj'], 91: ['on', 'ADP', 'IN', 'prep'], 92: ['the', 'DET', 'DT', 'det'], 93: ['graph', 'NOUN', 'NN', 'pobj'], 94: [',', 'PUNCT', ',', 'punct'], 95: ['exept', 'VERB', 'VBD', 'conj'], 96: ['the', 'DET', 'DT', 'det'], 97: ['Germany', 'PROPN', 'NNP', 'dobj'], 98: [',', 'PUNCT', ',', 'punct'], 99: ['where', 'ADV', 'WRB', 'advmod'], 100: ['we', 'PRON', 'PRP', 'nsubj'], 101: ['can', 'VERB', 'MD', 'aux'], 102: ['see', 'VERB', 'VB', 'relcl'], 103: ['that', 'DET', 'DT', 'det'], 104: ['persentage', 'NOUN', 'NN', 'nsubj'], 105: ['of', 'ADP', 'IN', 'prep'], 106: ['diffference', 'NOUN', 'NN', 'pobj'], 107: ['of', 'ADP', 'IN', 'prep'], 108: ['male', 'ADJ', 'JJ', 'amod'], 109: ['and', 'CCONJ', 'CC', 'cc'], 110: ['female', 'ADJ', 'JJ', 'conj'], 111: ['earnings', 'NOUN', 'NNS', 'pobj'], 112: ['slightly', 'ADV', 'RB', 'advmod'], 113: ['rising', 'VERB', 'VBG', 'ccomp'], 114: ['in', 'ADP', 'IN', 'prep'], 115: ['the', 'DET', 'DT', 'det'], 116: ['last', 'ADJ', 'JJ', 'amod'], 117: ['5', 'NUM', 'CD', 'nummod'], 118: ['years', 'NOUN', 'NNS', 'pobj'], 119: ['of', 'ADP', 'IN', 'prep'], 120: ['researching', 'VERB', 'VBG', 'pcomp'], 121: ['.', 'PUNCT', '.', 'punct'], 122: ['As', 'SCONJ', 'IN', 'mark'], 123: ['we', 'PRON', 'PRP', 'nsubj'], 124: ['can', 'VERB', 'MD', 'aux'], 125: ['see', 'VERB', 'VB', 'advcl'], 126: [',', 'PUNCT', ',', 'punct'], 127: ['this', 'DET', 'DT', 'det'], 128: ['graph', 'NOUN', 'NN', 'nsubj'], 129: ['shows', 'VERB', 'VBZ', 'ROOT'], 130: ['us', 'PRON', 'PRP', 'dative'], 131: ['a', 'DET', 'DT', 'det'], 132: ['steady', 'ADJ', 'JJ', 'amod'], 133: ['drop', 'NOUN', 'NN', 'dobj'], 134: ['of', 'ADP', 'IN', 'prep'], 135: ['difference', 'NOUN', 'NN', 'pobj'], 136: ['between', 'ADP', 'IN', 'prep'], 137: ['male', 'ADJ', 'JJ', 'amod'], 138: ['and', 'CCONJ', 'CC', 'cc'], 139: ['female', 'ADJ', 'JJ', 'conj'], 140: ['incomes', 'NOUN', 'NNS', 'pobj'], 141: ['.', 'PUNCT', '.', 'punct']}
 'As we can see Japans dinamics on the graph, shows stable decrease of unequality of incomes for 10 years since 1985 to 1995.0 Those dinamic is represents all of the countries on the graph, exept the Germany, where we can see that persentage of diffference of male and female earnings slightly rising in the last 5 years of researching. As we can see, this graph shows us a steady drop of difference between male and female incomes.'
 {59: 'As', 60: 'we', 61: 'can', 62: 'see', 63: 'Japans', 64: 'dinamics', 65: 'on', 66: 'the', 67: 'graph', 68: ',', 69: 'shows', 70: 'stable', 71: 'decrease', 72: 'of', 73: 'unequality', 74: 'of', 75: 'incomes', 76: 'for', 77: '10', 78: 'years', 79: 'since', 80: '1985', 81: 'to', 82: '1995', 83: '.', 84: '0', 85: 'Those', 86: 'dinamic', 87: 'is', 88: 'represents', 89: 'all', 90: 'of', 91: 'the', 92: 'countries', 93: 'on', 94: 'the', 95: 'graph', 96: ',', 97: 'exept', 98: 'the', 99: 'Germany', 100: ',', 101: 'where', 102: 'we', 103: 'can', 104: 'see', 105: 'that', 106: 'persentage', 107: 'of', 108: 'diffference', 109: 'of', 110: 'male', 111: 'and', 112: 'female', 113: 'earnings', 114: 'slightly', 115: 'rising', 116: 'in', 117: 'the', 118: 'last', 119: '5', 120: 'years', 121: 'of', 122: 'researching', 123: '.', 124: 'As', 125: 'we', 126: 'can', 127: 'see', 128: ',', 129: 'this', 130: 'graph', 131: 'shows', 132: 'us', 133: 'a', 134: 'steady', 135: 'drop', 136: 'of', 137: 'difference', 138: 'between', 139: 'male', 140: 'and', 141: 'female', 142: 'incomes', 143: '.'}
 {59: ['As', 'SCONJ', 'IN', 'mark'], 60: ['we', 'PRON', 'PRP', 'nsubj'], 61: ['can', 'VERB', 'MD', 'aux'], 62: ['see', 'VERB', 'VB', 'advcl'], 63: ['Japans', 'PROPN', 'NNPS', 'compound'], 64: ['dinamics', 'NOUN', 'NNS', 'dobj'], 65: ['on', 'ADP', 'IN', 'prep'], 66: ['the', 'DET', 'DT', 'det'], 67: ['graph', 'NOUN', 'NN', 'pobj'], 68: [',', 'PUNCT', ',', 'punct'], 69: ['shows', 'VERB', 'VBZ', 'ROOT'], 70: ['stable', 'ADJ', 'JJ', 'amod'], 71: ['decrease', 'NOUN', 'NN', 'dobj'], 72: ['of', 'ADP', 'IN', 'prep'], 73: ['unequality', 'NOUN', 'NN', 'pobj'], 74: ['of', 'ADP', 'IN', 'prep'], 75: ['incomes', 'NOUN', 'NNS', 'pobj'], 76: ['for', 'ADP', 'IN', 'prep'], 77: ['10', 'NUM', 'CD', 'nummod'], 78: ['years', 'NOUN', 'NNS', 'pobj'], 79: ['since', 'SCONJ', 'IN', 'prep'], 80: ['1985', 'NUM', 'CD', 'pobj'], 81: ['to', 'ADP', 'IN', 'prep'], 82: ['1995', 'NUM', 'CD', 'pobj'], 83: ['.', 'PUNCT', '.', 'punct'], 84: ['0', 'PUNCT', 'NFP', 'ROOT'], 85: ['Those', 'DET', 'DT', 'det'], 86: ['dinamic', 'NOUN', 'NN', 'nsubj'], 87: ['is', 'AUX', 'VBZ', 'ROOT'], 88: ['represents', 'VERB', 'VBZ', 'attr'], 89: ['all', 'DET', 'DT', 'dobj'], 90: ['of', 'ADP', 'IN', 'prep'], 91: ['the', 'DET', 'DT', 'det'], 92: ['countries', 'NOUN', 'NNS', 'pobj'], 93: ['on', 'ADP', 'IN', 'prep'], 94: ['the', 'DET', 'DT', 'det'], 95: ['graph', 'NOUN', 'NN', 'pobj'], 96: [',', 'PUNCT', ',', 'punct'], 97: ['exept', 'VERB', 'VBD', 'conj'], 98: ['the', 'DET', 'DT', 'det'], 99: ['Germany', 'PROPN', 'NNP', 'dobj'], 100: [',', 'PUNCT', ',', 'punct'], 101: ['where', 'ADV', 'WRB', 'advmod'], 102: ['we', 'PRON', 'PRP', 'nsubj'], 103: ['can', 'VERB', 'MD', 'aux'], 104: ['see', 'VERB', 'VB', 'relcl'], 105: ['that', 'DET', 'DT', 'det'], 106: ['persentage', 'NOUN', 'NN', 'nsubj'], 107: ['of', 'ADP', 'IN', 'prep'], 108: ['diffference', 'NOUN', 'NN', 'pobj'], 109: ['of', 'ADP', 'IN', 'prep'], 110: ['male', 'ADJ', 'JJ', 'amod'], 111: ['and', 'CCONJ', 'CC', 'cc'], 112: ['female', 'ADJ', 'JJ', 'conj'], 113: ['earnings', 'NOUN', 'NNS', 'pobj'], 114: ['slightly', 'ADV', 'RB', 'advmod'], 115: ['rising', 'VERB', 'VBG', 'ccomp'], 116: ['in', 'ADP', 'IN', 'prep'], 117: ['the', 'DET', 'DT', 'det'], 118: ['last', 'ADJ', 'JJ', 'amod'], 119: ['5', 'NUM', 'CD', 'nummod'], 120: ['years', 'NOUN', 'NNS', 'pobj'], 121: ['of', 'ADP', 'IN', 'prep'], 122: ['researching', 'VERB', 'VBG', 'pcomp'], 123: ['.', 'PUNCT', '.', 'punct'], 124: ['As', 'SCONJ', 'IN', 'mark'], 125: ['we', 'PRON', 'PRP', 'nsubj'], 126: ['can', 'VERB', 'MD', 'aux'], 127: ['see', 'VERB', 'VB', 'advcl'], 128: [',', 'PUNCT', ',', 'punct'], 129: ['this', 'DET', 'DT', 'det'], 130: ['graph', 'NOUN', 'NN', 'nsubj'], 131: ['shows', 'VERB', 'VBZ', 'ROOT'], 132: ['us', 'PRON', 'PRP', 'dative'], 133: ['a', 'DET', 'DT', 'det'], 134: ['steady', 'ADJ', 'JJ', 'amod'], 135: ['drop', 'NOUN', 'NN', 'dobj'], 136: ['of', 'ADP', 'IN', 'prep'], 137: ['difference', 'NOUN', 'NN', 'pobj'], 138: ['between', 'ADP', 'IN', 'prep'], 139: ['male', 'ADJ', 'JJ', 'amod'], 140: ['and', 'CCONJ', 'CC', 'cc'], 141: ['female', 'ADJ', 'JJ', 'conj'], 142: ['incomes', 'NOUN', 'NNS', 'pobj'], 143: ['.', 'PUNCT', '.', 'punct']}]
("USER'S TEXT: In UK difference decreased from around 36 by 13 percent, "
 'similar fall was in USA, but where it started with 39 percent and ended with '
 '20.')
('CORRECTED TEXT: In UK difference decreased from around 36 by 13 percent. A '
 'similar fall was in USA, but where it started with 39 percent and ended with '
 '20.')
'CORRECTION: . A'
'ERROR AREA: ,'
'TAG: punctuation'
("USER'S TEXT: Moreover, school eduction or at least elementary one is "
 'obligatory in most countries, it means everybody should have this education. '
 'It will be very extremely unfair if all people have to study, but not '
 'everyone could afford it.')
('CORRECTED TEXT: Moreover, school eduction or at least elementary one is '
 'obligatory in most countries. That means everybody should have this '
 'education. It will be very extremely unfair if all people have to study, but '
 'not everyone could afford it.')
'CORRECTION: . That'
'ERROR AREA: , it'
'TAG: punctuation'
("USER'S TEXT: 37 On the one hand, there will be difficult for government to "
 'pay for all schools and universities in their countries. Because if the '
 'education is free it must be paid from the government.')
('CORRECTED TEXT: 37 On the one hand, there will be difficult for government '
 'to pay for all schools and universities in their countries because if the '
 'education is free it must be paid from the government.')
'CORRECTION: because'
'ERROR AREA: . Because'
'TAG: punctuation'
("USER'S TEXT: First, a free education have to be given those which passed "
 'their exams in school well. Because, some of students do not want to study '
 'at all, and for governments it will be just a waste of money that can be '
 'treated for something usefull.')
('CORRECTED TEXT: First, a free education have to be given those which passed '
 'their exams in school well, because some of students do not want to study at '
 'all, and for governments it will be just a waste of money that can be '
 'treated for something usefull.')
'CORRECTION: , because'
'ERROR AREA: . Because ,'
'TAG: punctuation'
("USER'S TEXT: Although there are some people who justify education being "
 'expensive explaining that it is done so the schools, colleges and '
 'universities are not overcrowded and there will be enough space for the ones '
 'who are willing to study. But I assume this is completely wrong and this is '
 'a duty of government to establish favourable conditions for everyone and to '
 'provide enough places and opportunities for people to be educated.')
('CORRECTED TEXT: Although there are some people who justify education being '
 'expensive explaining that it is done so the schools, colleges and '
 'universities are not overcrowded and there will be enough space for the ones '
 'who are willing to study, I assume this is completely wrong and this is a '
 'duty of government to establish favourable conditions for everyone and to '
 'provide enough places and opportunities for people to be educated.')
'CORRECTION: ,'
'ERROR AREA: . But'
'TAG: punctuation'
("USER'S TEXT: Japan is also a bit different from the other countries, since "
 'their decrees has remained. Gradual throughout the whole given period, as '
 'other countries had a slightly more slow change after 1990 almost becoming '
 'stabilized.')
('CORRECTED TEXT: Japan is also a bit different from the other countries, '
 'since their decrees has remained gradual throughout the whole given period, '
 'as other countries had a slightly more slow change after 1990 almost '
 'becoming stabilized.')
'CORRECTION: gradual'
'ERROR AREA: . Gradual'
'TAG: punctuation'
("USER'S TEXT: In conclusion. i want to say that in today's world of equar "
 'rights, everyone should receive education.')
("CORRECTED TEXT: In conclusion, I want to say that in today's world of equar "
 'rights, everyone should receive education.')
'CORRECTION: , I'
'ERROR AREA: . i'
'TAG: punctuation'
("USER'S TEXT: One the other hand, there are some basic thing that every "
 'people must know. Their language, bare phisics low, math, cultural features '
 'and more.')
('CORRECTED TEXT: One the other hand, there are some basic thing that every '
 'people must know э=-@ their language, bare phisics low, math, cultural '
 'features and more.')
'CORRECTION: э=-@ their'
'ERROR AREA: . Their'
'TAG: punctuation'
("USER'S TEXT: For instance, there was one of the most famous Russian "
 'scientists Michail Lomonosov; he was from average family. But he was very '
 'talented and the government invested in his skills.')
('CORRECTED TEXT: For instance, there was one of the most famous Russian '
 'scientists Michail Lomonosov. He was from average family. But he was very '
 'talented and the government invested in his skills.')
'CORRECTION: . He'
'ERROR AREA: ; he'
'TAG: punctuation'
("USER'S TEXT: Looking at other countries can be seen that there is no high "

In [494]:
punctuation = punctuation[punctuation['corrected_text'].apply(lambda x: x not in solo_punct['corrected_text'].values)]

In [495]:
punctuation

,text_id,sentence_id,token_id,mistake_type,error_span,correction,full_text,tokens_ids,dependencies,corrected_text,corrected_with_ids,dependencies_heptabot
16,731.0,6.0,128.0,punct,78%,", 78%",As Africa Today had recenly reported 78% of st...,"{122: 'As', 123: 'Africa', 124: 'Today', 125: ...","{122: ['As', 'SCONJ', 'IN', 'mark'], 123: ['Af...","As Africa Today had recenly reported, 78% of s...","{122: 'As', 123: 'Africa', 124: 'Today', 125: ...","{122: ['As', 'SCONJ', 'IN', 'mark'], 123: ['Af..."
127,592.0,6.0,128.0,punct,1995.0,1995.0,Only germany saw a slight increase from 1990 t...,"{119: 'Only', 120: 'germany', 121: 'saw', 122:...","{119: ['Only', 'ADV', 'RB', 'advmod'], 120: ['...",Only germany saw a slight increase from 1990 t...,"{119: 'Only', 120: 'germany', 121: 'saw', 122:...","{119: ['Only', 'ADV', 'RB', 'advmod'], 120: ['..."
140,1041.0,5.0,82.0,punct,1995.0,1995.0,"As we can see Japans dinamics on the graph, sh...","{59: 'As', 60: 'we', 61: 'can', 62: 'see', 63:...","{59: ['As', 'SCONJ', 'IN', 'mark'], 60: ['we',...","As we can see Japans dinamics on the graph, sh...","{59: 'As', 60: 'we', 61: 'can', 62: 'see', 63:...","{59: ['As', 'SCONJ', 'IN', 'mark'], 60: ['we',..."
275,344.0,8.0,187.0,punct,",",. A,In UK difference decreased from around 36 by 1...,"{177: 'In', 178: 'UK', 179: 'difference', 180:...","{177: ['In', 'ADP', 'IN', 'prep'], 178: ['UK',...",In UK difference decreased from around 36 by 1...,"{177: 'In', 178: 'UK', 179: 'difference', 180:...","{177: ['In', 'ADP', 'IN', 'prep'], 178: ['UK',..."
921,803.0,6.0,112.0,punct,", it",. That,"Moreover, school eduction or at least elementa...","{98: 'Moreover', 99: ',', 100: 'school', 101: ...","{98: ['Moreover', 'ADV', 'RB', 'advmod'], 99: ...","Moreover, school eduction or at least elementa...","{98: 'Moreover', 99: ',', 100: 'school', 101: ...","{98: ['Moreover', 'ADV', 'RB', 'advmod'], 99: ..."
1083,370.0,4.0,65.0,punct,. Because,because,"37 On the one hand, there will be difficult fo...","{43: '37', 44: 'On', 45: 'the', 46: 'one', 47:...","{43: ['37', 'NUM', 'CD', 'ROOT'], 44: ['On', '...","37 On the one hand, there will be difficult fo...","{43: '37', 44: 'On', 45: 'the', 46: 'one', 47:...","{43: ['37', 'NUM', 'CD', 'ROOT'], 44: ['On', '..."
1096,323.0,14.0,247.0,punct,". Because,",", because","First, a free education have to be given those...","{230: 'First', 231: ',', 232: 'a', 233: 'free'...","{230: ['First', 'ADV', 'RB', 'advmod'], 231: [...","First, a free education have to be given those...","{230: 'First', 231: ',', 232: 'a', 233: 'free'...","{230: ['First', 'ADV', 'RB', 'advmod'], 231: [..."
1097,1598.0,10.0,285.0,punct,. But,",",Although there are some people who justify edu...,"{246: 'Although', 247: 'there', 248: 'are', 24...","{246: ['Although', 'SCONJ', 'IN', 'mark'], 247...",Although there are some people who justify edu...,"{246: 'Although', 247: 'there', 248: 'are', 24...","{246: ['Although', 'SCONJ', 'IN', 'mark'], 247..."
1100,852.0,5.0,137.0,punct,. Gradual,gradual,Japan is also a bit different from the other c...,"{121: 'Japan', 122: 'is', 123: 'also', 124: 'a...","{121: ['Japan', 'PROPN', 'NNP', 'nsubj'], 122:...",Japan is also a bit different from the other c...,"{121: 'Japan', 122: 'is', 123: 'also', 124: 'a...","{121: ['Japan', 'PROPN', 'NNP', 'nsubj'], 122:..."
1101,1509.0,16.0,275.0,punct,. i,", I",In conclusion. i want to say that in today's w...,"{273: 'In', 274: 'conclusion', 275: '.', 276: ...","{273: ['In', 'ADP', 'IN', 'ROOT'], 274: ['conc...","In conclusion, I want to say that in today's w...","{273: 'In', 274: 'conclusion', 275: ',', 276: ...","{273: ['In', 'ADP', 'IN', 'prep'], 274: ['conc..."
1107,1154.0,11.0,218.0,punct,. Their,э=-@ their,"One the other hand, there are some basic thing...","{203: 'One', 204: 'the', 205: 'other', 206: 'h...","{203: ['One', 'NUM', 'CD', 'nummod'], 204: ['t...","One the other hand, there are some basic thing...","{203: 'One', 204: 'the', 205: 'other', 206: 'h...","{203: ['One', 'NUM', 'CD', 'nummod'], 204: ['t..."
1119,505.0,13.0,232.0,punct,; he,. He,"For instance, there was one of the most famous...","{218: 'For', 219: 'instance', 220: ',', 221: '...","{218: ['For', 'ADP', 'IN', 'prep'], 219: ['ins...","For instance, there was one of the most famous...","{218: 'For', 219: 'instance', 220: ',', 221: '...","{218: ['For', 'ADP', 'IN', 'prep'], 219: ['ins..."
1481,900.0,6.0,126.0,punct,countries,"countries, it",Looking at other countries can be seen that th...,"{123: 'Looking', 124: 'at', 125: 'other', 126:...","{123: ['Looking', 'VERB', 'VBG', 'csubjpass'],...","Looking at other countries, it can be seen tha...","{123: 'Looking', 124: 'at', 125: 'other', 126:...","{123: ['Looking', 'VERB', 'VBG', 'advcl'], 124..."
1483,943.0,5.0,90.0,punct,countries,"countries, it",In the other countries was the opposite situat...,"{87: 'In', 88: 'the', 89: 'other', 90: 'countr...","{87: ['In', 'ADP', 'IN', 'prep'], 88: ['the', ...","In the other countries, it was the opposite si...","{87: 'In', 88: 'the', 89: 'other', 90: 'countr...","{87: ['In', 'ADP', 'IN', 'prep'], 88: ['the', ..."
1725,273.0,6.0,63.0,punct,essay,"essay, I",So in this essay will be demonstrates both poi...,"{60: 'So', 61: 'in', 62: 'this', 63: 'essay', ...","{60: ['So', 'ADV', 'RB', 'cc'], 61: ['in', 'AD...","So in this essay, I will be demonstrates both ...","{60: 'So', 61: 'in', 62: 'this', 63: 'essay', ...","{60: ['So', 'ADV', 'RB', 'advmod'], 61: ['in',..."
1811,1570.0,10.0,172.0,punct,for getting,", to get","Firstly, it is impossible to exept liers and k...","{134: 'Firstly', 135: ',', 136: 'it', 137: 'is...","{134: ['Firstly', 'ADV', 'RB', 'advmod'], 135:...","Firstly, it is impossible to exept liers and k...","{134: 'Firstly', 135: ',', 136: 'it', 137: 'is...","{134: ['Firstly', 'ADV', 'RB', 'advmod'], 135:..."
2262,728.0,11.0,187.0,punct,new zealand an uk.,"New Zealand and the UK,",the impressive results among others show count...,"{179: 'the', 180: 'impressive', 181: 'results'...","{179: ['the', 'DET', 'DT', 'det'], 180: ['impr...",the impressive results among others show count...,"{179: 'the', 180: 'impressive', 181: 'results'...","{179: ['the', 'DET', 'DT', 'det'], 180: ['impr..."
2761,1503.0,12.0,301.0,punct,study,study. It,"From my humble opinion, every person should ha...","{288: 'From', 289: 'my', 290: 'humble', 291: '...","{288: ['From', 'ADP', 'IN', 'prep'], 289: ['my...","From my humble opinion, every person should ha...","{288: 'From', 289: 'my', 290: 'humble', 291: '...","{288: ['From', 'ADP', 'IN', 'prep'], 289: ['my..."
2916,1404.0,3.0,38.0,punct,"think,",thinks,"One part think, that education should be provi...","{36: 'One', 37: 'part', 38: 'think', 39: ',', ...","{36: ['One', 'NUM', 'CD', 'nummod'], 37: ['par...",One part thinks that education should be provi...,"{36: 'One', 37: 'part', 38: 'thinks', 39: 'tha...","{36: ['One', 'NUM', 'CD', 'nummod'], 37: ['par..."
2917,1404.0,3.0,58.0,punct,"think,",thinks,"One part think, that education should be provi...","{36: 'One', 37: 'part', 38: 'think', 39: ',', ...","{36: ['One', 'NUM', 'CD', 'nummod'], 37: ['par...","One part think, that education should be provi...","{36: 'One', 37: 'part', 38: 'think', 39: ',', ...","{36: ['One', 'NUM', 'CD', 'nummod'], 37: ['par..."
3010,858.0,12.0,186.0,punct,UK,"UK, it","In Japan, USA and UK did not exceeded 8%.","{181: 'In', 182: 'Japan', 183: ',', 184: 'USA'...","{181: ['In', 'ADP', 'IN', 'prep'], 182: ['Japa...","In Japan, USA and UK, it did not exceeded 8%.","{181: 'In', 182: 'Japan', 183: ',', 184: 'USA'...","{181: ['In', 'ADP', 'IN', 'prep'], 182: ['Japa..."

In [480]:
punctuation = punctuation[punctuation['corrected_text'].apply(lambda x: x not in conj_and_articles['corrected_text'].values)]

In [481]:
punctuation

,text_id,sentence_id,token_id,mistake_type,error_span,correction,full_text,tokens_ids,dependencies,corrected_text,corrected_with_ids,dependencies_heptabot
16,731.0,6.0,128.0,punct,78%,", 78%",As Africa Today had recenly reported 78% of st...,"{122: 'As', 123: 'Africa', 124: 'Today', 125: ...","{122: ['As', 'SCONJ', 'IN', 'mark'], 123: ['Af...","As Africa Today had recenly reported, 78% of s...","{122: 'As', 123: 'Africa', 124: 'Today', 125: ...","{122: ['As', 'SCONJ', 'IN', 'mark'], 123: ['Af..."
127,592.0,6.0,128.0,punct,1995.0,1995.0,Only germany saw a slight increase from 1990 t...,"{119: 'Only', 120: 'germany', 121: 'saw', 122:...","{119: ['Only', 'ADV', 'RB', 'advmod'], 120: ['...",Only germany saw a slight increase from 1990 t...,"{119: 'Only', 120: 'germany', 121: 'saw', 122:...","{119: ['Only', 'ADV', 'RB', 'advmod'], 120: ['..."
140,1041.0,5.0,82.0,punct,1995.0,1995.0,"As we can see Japans dinamics on the graph, sh...","{59: 'As', 60: 'we', 61: 'can', 62: 'see', 63:...","{59: ['As', 'SCONJ', 'IN', 'mark'], 60: ['we',...","As we can see Japans dinamics on the graph, sh...","{59: 'As', 60: 'we', 61: 'can', 62: 'see', 63:...","{59: ['As', 'SCONJ', 'IN', 'mark'], 60: ['we',..."
275,344.0,8.0,187.0,punct,",",. A,In UK difference decreased from around 36 by 1...,"{177: 'In', 178: 'UK', 179: 'difference', 180:...","{177: ['In', 'ADP', 'IN', 'prep'], 178: ['UK',...",In UK difference decreased from around 36 by 1...,"{177: 'In', 178: 'UK', 179: 'difference', 180:...","{177: ['In', 'ADP', 'IN', 'prep'], 178: ['UK',..."
921,803.0,6.0,112.0,punct,", it",. That,"Moreover, school eduction or at least elementa...","{98: 'Moreover', 99: ',', 100: 'school', 101: ...","{98: ['Moreover', 'ADV', 'RB', 'advmod'], 99: ...","Moreover, school eduction or at least elementa...","{98: 'Moreover', 99: ',', 100: 'school', 101: ...","{98: ['Moreover', 'ADV', 'RB', 'advmod'], 99: ..."
1043,6.0,8.0,221.0,punct,.,?,"For instance, a lot of famous people as Lomono...","{175: 'For', 176: 'instance', 177: ',', 178: '...","{175: ['For', 'ADP', 'IN', 'prep'], 176: ['ins...","For instance, a lot of famous people as Lomono...","{175: 'For', 176: 'instance', 177: ',', 178: '...","{175: ['For', 'ADP', 'IN', 'prep'], 176: ['ins..."
1044,15.0,8.0,131.0,punct,.,",",In Germany the difference plummed by more than...,"{118: 'In', 119: 'Germany', 120: 'the', 121: '...","{118: ['In', 'ADP', 'IN', 'prep'], 119: ['Germ...",In Germany the difference plummed by more than...,"{118: 'In', 119: 'Germany', 120: 'the', 121: '...","{118: ['In', 'ADP', 'IN', 'prep'], 119: ['Germ..."
1045,25.0,3.0,58.0,punct,.,",",According to the graph. in 1980 USA rate was a...,"{54: 'According', 55: 'to', 56: 'the', 57: 'gr...","{54: ['According', 'VERB', 'VBG', 'ROOT'], 55:...","According to the graph, in 1980 USA rate was a...","{54: 'According', 55: 'to', 56: 'the', 57: 'gr...","{54: ['According', 'VERB', 'VBG', 'prep'], 55:..."
1046,54.0,5.0,122.0,punct,.,?,"Thus, how can perspective programmer get into ...","{100: 'Thus', 101: ',', 102: 'how', 103: 'can'...","{100: ['Thus', 'ADV', 'RB', 'advmod'], 101: ['...","Thus, how can perspective programmer get into ...","{100: 'Thus', 101: ',', 102: 'how', 103: 'can'...","{100: ['Thus', 'ADV', 'RB', 'advmod'], 101: ['..."
1047,58.0,9.0,199.0,punct,.,?,"Of course, there were, are and will be people ...","{169: 'Of', 170: 'course', 171: ',', 172: 'the...","{169: ['Of', 'ADV', 'RB', 'advmod'], 170: ['co...","Of course, there were, are and will be people ...","{169: 'Of', 170: 'course', 171: ',', 172: 'the...","{169: ['Of', 'ADV', 'RB', 'advmod'], 170: ['co..."
1048,111.0,2.0,39.0,punct,.,",",Overall. while statistics for all countries ex...,"{38: 'Overall', 39: '.', 40: 'while', 41: 'sta...","{38: ['Overall', 'ADV', 'RB', 'ROOT'], 39: ['....","Overall, while statistics for all countries ex...","{38: 'Overall', 39: ',', 40: 'while', 41: 'sta...","{38: ['Overall', 'ADV', 'RB', 'advmod'], 39: [..."
1049,130.0,6.0,99.0,punct,.,",",That is to say that education ultimately thriv...,"{89: 'That', 90: 'is', 91: 'to', 92: 'say', 93...","{89: ['That', 'DET', 'DT', 'nsubj'], 90: ['is'...",That is to say that education ultimately thriv...,"{89: 'That', 90: 'is', 91: 'to', 92: 'say', 93...","{89: ['That', 'DET', 'DT', 'nsubj'], 90: ['is'..."
1050,246.0,9.0,245.0,punct,.,,The percentage difference in income between ge...,"{214: 'The', 215: 'percentage', 216: 'differen...","{214: ['The', 'DET', 'DT', 'det'], 215: ['perc...",The percentage difference in income between ge...,"{214: 'The', 215: 'percentage', 216: 'differen...","{214: ['The', 'DET', 'DT', 'det'], 215: ['perc..."
1051,260.0,4.0,61.0,punct,.,",","People from Japan have maximum earnings, and t...","{49: 'People', 50: 'from', 51: 'Japan', 52: 'h...","{49: ['People', 'NOUN', 'NNS', 'nsubj'], 50: [...","People from Japan have maximum earnings, and t...","{49: 'People', 50: 'from', 51: 'Japan', 52: 'h...","{49: ['People', 'NOUN', 'NNS', 'nsubj'], 50: [..."
1052,261.0,10.0,200.0,punct,.,",",Secondly. every year the world shows new thing...,"{199: 'Secondly', 200: '.', 201: 'every', 202:...","{199: ['Secondly', 'ADV', 'RB', 'ROOT'], 200: ...","Secondly, every year the world shows new thing...","{199: 'Secondly', 200: ',', 201: 'every', 202:...","{199: ['Secondly', 'ADV', 'RB', 'advmod'], 200..."
1053,374.0,12.0,188.0,punct,.,",",In fact. the njtjrious soft skill essential fo...,"{186: 'In', 187: 'fact', 188: '.', 189: 'the',...","{186: ['In', 'ADP', 'IN', 'ROOT'], 187: ['fact...","In fact, the njtjrious soft skill essential fo...","{186: 'In', 187: 'fact', 188: ',', 189: 'the',...","{186: ['In', 'ADP', 'IN', 'prep'], 187: ['fact..."
1054,454.0,12.0,217.0,punct,.,,It. can really can be helpful in developing ou...,"{216: 'It', 217: '.', 218: 'can', 219: 'really...","{216: ['It', 'PRON', 'PRP', 'ROOT'], 217: ['.'...",It can really can be helpful in developing ou...,"{216: 'It', 217: 'can', 218: 'really', 219: 'c...","{216: ['It', 'PRON', 'PRP', 'nsubj'], 217: ['c..."
1055,637.0,6.0,116.0,punct,.,",",As regards the USA. it also came down consider...,"{112: 'As', 113: 'regards', 114: 'the', 115: '...","{112: ['As', 'SCONJ', 'IN', 'mark'], 113: ['re...","As regards the USA, it also came down consider...","{112: 'As', 113: 'regards', 114: 'the', 115: '...","{112: ['As', 'SCONJ', 'IN', 'mark'], 113: ['re..."
1056,646.0,16.0,244.0,punct,.,",",In conclusion. authorities should pay an atten...,"{242: 'In', 243: 'conclusion', 244: '.', 245: ...","{242: ['In', 'ADP', 'IN', 'ROOT'], 243: ['conc...","In conclusion, authorities should pay an atten...","{242: 'In', 243: 'conclusion', 244: ',', 245: ...","{242: ['In', 'ADP', 'IN', 'prep'], 243: ['conc..."
1057,668.0,17.0,308.0,punct,.,",","In conclusion, most of us thinks that every hu...","{293: 'In', 294: 'conclusion', 295: ',', 296: ...","{293: ['In', 'ADP', 'IN', 'prep'], 294: ['conc...","In conclusion, most of us thinks that every hu...","{293: 'In', 294: 'conclusion', 295: ',', 296: ...","{293: ['In', 'ADP', 'IN', 'prep'], 294: ['conc..."
1058,728.0,5.0,87.0,punct,.,",",the number are devastating. considering this g...,"{83: 'the', 84: 'number', 85: 'are', 86: 'deva...","{83: ['the', 'DET', 'DT', 'det'], 84: ['number...","the number are devastating, considering this g...","{83: 'the', 84: 'number', 85: 'are', 86: 'deva...","{83: ['the', 'DET', 'DT', 'det'], 84: ['number..."
1059,786.0,3.0,66.0,punct,.,",","However, while in 4 out of 5 countries, shown ...","{44: 'However', 45: ',', 46: 'while', 47: 'in'...","{44: ['However', 'ADV', 'RB', 'advmod'], 45: [...","However, while in 4 out of 5 countries, shown ...","{44: 'However', 45: ',', 46: 'while', 47: 'in'...","{44: ['However', 'ADV', 'RB', 'advmod'], 45: [..."
1060,793.0,7.0,218.0,punct,.,,That is why education can not be considered as...,"{209: 'That', 210: 'is', 211: 'why', 212: 'edu...","{209: ['That', 'DET', 'DT', 'nsubj'], 210: ['i...",That is why education can not be considered as...,"{209: 'That', 210: 'is', 211: 'why', 212: 'edu...","{209: ['That', 'DET', 'DT', 'nsubj'], 210: ['i..."
1061,853.0,9.0,310.0,punct,.,",","For example, let's take a look into history. w...","{300: 'For', 301: 'example', 302: ',', 303: 'l...","{300: ['For', 'ADP', 'IN', 'prep'], 301: ['exa...","For example, let's take a look into history, w...","{300: 'For', 301: 'example', 302: ',', 303: 'l...","{300: ['For', 'ADP', 'IN', 'prep'], 301: ['exa..."
1062,956.0,12.0,241.0,punct,.,,"However, I still hold the opinion. that educat...","{234: 'However', 235: ',', 236: 'I', 237: 'sti...","{234: ['However', 'ADV', 'RB', 'advmod'], 235:...","However, I still hold the opinion that educat...","{234: 'However', 235: ',', 236: 'I', 237: 'sti...","{234: ['However', 'ADV', 'RB', 'advmod'], 235:..."
1063,963.0,2.0,36.0,punct,.,",",Overall. the graph shows that in all countries...,"{35: 'Overall', 36: '.', 37: 'the', 38: 'graph...","{35: ['Overall', 'ADV', 'RB', 'ROOT'], 36: ['....","Overall, the graph shows that in all countries...","{35: 'Overall', 36: ',', 37: 'the', 38: 'graph...","{35: ['Overall', 'ADV', 'RB', 'advmod'], 36: [..."
1064,1014.0,8.0,107.0,punct,.,",",and he/ she can do some mistakes. and the resu...,"{99: 'and', 100: 'he', 101: '/', 102: 'she', 1...","{99: ['and', 'CCONJ', 'CC', 'cc'], 100: ['he',...","and he/ she can do some mistakes, and the resu...","{99: 'and', 100: 'he', 101: 'she', 102: 'can',...","{99: ['and', 'CCONJ', 'CC', 'cc'], 100: ['he',..."
1065,1063.0,5.0,134.0,punct,.,,"What is more, the differences in income in Ger...","{107: 'What', 108: 'is', 109: 'more', 110: ','...","{107: ['What', 'PRON', 'WP', 'nsubj'], 108: ['...","What is more, the differences in income in Ger...","{107: 'What', 108: 'is', 109: 'more', 110: ','...","{107: ['What', 'PRON', 'WP', 'nsubj'], 108: ['..."
1066,1245.0,12.0,262.0,punct,.,",","One other moment, if you a very clever child i...","{248: 'One', 249: 'other', 250: 'moment', 251:...","{248: ['One', 'NUM', 'CD', 'nummod'], 249: ['o...","One other moment, if you a very clever child i...","{248: 'One', 249: 'other', 250: 'moment', 251:...","{248: ['One', 'NUM', 'CD', 'nummod'], 249: ['o..."
1067,1251.0,5.0,103.0,punct,.,",",So to manage such task school should't be comp...,"{65: 'So', 66: 'to', 67: 'manage', 68: 'such',...","{65: ['So', 'ADV', 'RB', 'advmod'], 66: ['to',...",So to manage such task school should't be comp...,"{65: 'So', 66: 'to', 67: 'manage', 68: 'such',...","{65: ['So', 'ADV', 'RB', 'advmod'], 66: ['to',..."
1068,1351.0,1.0,60.0,punct,.,?,"The idea that education, including schools and...","{1: 'The', 2: 'idea', 3: 'that', 4: 'education...","{1: ['The', 'DET', 'DT', 'det'], 2: ['idea', '...","The idea that education, including schools and...","{1: 'The', 2: 'idea', 3: 'that', 4: 'education...","{1: ['The', 'DET', 'DT', 'det'], 2: ['idea', '..."
1069,1369.0,5.0,67.0,punct,.,",",Firstly. equality which is the core of getting...,"{66: 'Firstly', 67: '.', 68: 'equality', 69: '...","{66: ['Firstly', 'ADV', 'RB', 'ROOT'], 67: ['....","Firstly, equality which is the core of getting...","{66: 'Firstly', 67: ',', 68: 'equality', 69: '...","{66: ['Firstly', 'ADV', 'RB', 'advmod'], 67: [..."
1070,1395.0,24.0,399.0,punct,.,,"Why did authors selected Germany instead of,. ...","{391: 'Why', 392: 'did', 393: 'authors', 394: ...","{391: ['Why', 'ADV', 'WRB', 'advmod'], 392: ['...","Why did authors selected Germany instead of, ...","{391: 'Why', 392: 'did', 393: 'authors', 394: ...","{391: ['Why', 'ADV', 'WRB', 'advmod'], 392: ['..."
1071,1493.0,6.0,102.0,punct,.,",",Each of us have a birth in a different familie...,"{92: 'Each', 93: 'of', 94: 'us', 95: 'have', 9...","{92: ['Each', 'DET', 'DT', 'nsubj'], 93: ['of'...",Each of us have a birth in a different familie...,"{92: 'Each', 93: 'of', 94: 'us', 95: 'have', 9...","{92: ['Each', 'DET', 'DT', 'nsubj'], 93: ['of'..."
1072,1501.0,18.0,314.0,punct,.,",","276 To sum up, I still consider that education...","{298: '276', 299: 'To', 300: 'sum', 301: 'up',...","{298: ['276', 'NUM', 'CD', 'ROOT'], 299: ['To'...","276 To sum up, I still consider that education...","{298: '276', 299: 'To', 300: 'sum', 301: 'up',...","{298: ['276', 'NUM', 'CD', 'ROOT'], 299: ['To'..."
1073,1512.0,1.0,27.0,punct,.,,The line graph depicts the differnce of income...,"{1: 'The', 2: 'line', 3: 'graph', 4: 'depicts'...","{1: ['The', 'DET', 'DT', 'det'], 2: ['line', '...",The line graph depicts the differnce of income...,"{1: 'The', 2: 'line', 3: 'graph', 4: 'depicts'...","{1: ['The', 'DET', 'DT', 'det'], 2: ['line', '..."
1074,1550.0,4.0,74.0,punct,.,?,"And if one person has right to study, why the ...","{58: 'And', 59: 'if', 60: 'one', 61: 'person',...","{58: ['And', 'CCONJ', 'CC', 'cc'], 59: ['if', ...","And if one person has right to study, why the ...","{58: 'And', 59: 'if', 60: 'one', 61: 'person',...","{58: ['And', 'CCONJ', 'CC', 'cc'], 59: ['if', ..."
1075,1550.0,12.0,259.0,punct,.,",","All in all, education the most part of educati...","{244: 'All', 245: 'in', 246: 'all', 247: ',', ...","{244: ['All', 'DET', 'DT', 'advmod'], 245: ['i...","All in all, education the most part of educati...","{244: 'All', 245: 'in', 246: 'all', 247: ',', ...","{244: ['All', 'DET', 'DT', 'advmod'], 245: ['i..."
1076,1555.0,13.0,205.0,punct,.,?,What for to take in university student who do ...,"{192: 'What', 193: 'for', 194: 'to', 195: 'tak...","{192: ['What', 'PRON', 'WP', 'dobj'], 193: ['f...",What for to take in university student who do ...,"{192: 'What', 193: 'for', 194: 'to', 195: 'tak...","{192: ['What', 'PRON', 'WP', 'ROOT'], 193: ['f..."
1077,1555.0,14.0,234.0,punct,.,?,But you will say: how about people that want t...,"{206: 'But', 207: 'you', 208: 'will', 209: 'sa...","{206: ['But', 'CCONJ', 'CC', 'cc'], 207: ['you...",But you will say: how about people that want t...,"{206: 'But', 207: 'you', 208: 'will', 209: 'sa...","{206: ['But', 'CCONJ', 'CC', 'cc'], 207: ['you..."
1083,370.0,4.0,65.0,punct,. Because,because,"37 On the one hand, there will be difficult fo...","{43: '37', 44: 'On', 45: 'the', 46: 'one', 47:...","{43: ['37', 'NUM', 'CD', 'ROOT'], 44: ['On', '...","37 On the one hand, there will be difficult fo...","{43: '37', 44: 'On', 45: 'the', 46: 'one', 47:...","{43: ['37', 'NUM', 'CD', 'ROOT'], 44: ['On', '..."
1096,323.0,14.0,247.0,punct,". Because,",", because","First, a free education have to be given those...","{230: 'First', 231: ',', 232: 'a', 233: 'free'...","{230: ['First', 'ADV', 'RB', 'advmod'], 231: [...","First, a free education have to be given those...","{230: 'First', 231: ',', 232: 'a', 233: 'free'...","{230: ['First', 'ADV', 'RB', 'advmod'], 231: [..."
1097,1598.0,10.0,285.0,punct,. But,",",Although there are some people who justify edu...,"{246: 'Although', 247: 'there', 248: 'are', 24...","{246: ['Although', 'SCONJ', 'IN', 'mark'], 247...",Although there are some people who justify edu...,"{246: 'Although', 247: 'there', 248: 'are', 24...","{246: ['Although', 'SCONJ', 'IN', 'mark'], 247..."
1100,852.0,5.0,137.0,punct,. Gradual,gradual,Japan is also a bit different from the other c...,"{121: 'Japan', 122: 'is', 123: 'also', 124: 'a...","{121: ['Japan', 'PROPN', 'NNP', 'nsubj'], 122:...",Japan is also a bit different from the other c...,"{121: 'Japan', 122: 'is', 123: 'also', 124: 'a...","{121: ['Japan', 'PROPN', 'NNP', 'nsubj'], 122:..."
1101,1509.0,16.0,275.0,punct,. i,", I",In conclusion. i want to say that in today's w...,"{273: 'In', 274: 'conclusion', 275: '.', 276: ...","{273: ['In', 'ADP', 'IN', 'ROOT'], 274: ['conc...","In conclusion, I want to say that in today's w...","{273: 'In', 274: 'conclusion', 275: ',', 276: ...","{273: ['In', 'ADP', 'IN', 'prep'], 274: ['conc..."
1107,1154.0,11.0,218.0,punct,. Their,э=-@ their,"One the other hand, there are some basic thing...","{203: 'One', 204: 'the', 205: 'other', 206: 'h...","{203: ['One', 'NUM', 'CD', 'nummod'], 204: ['t...","One the other hand, there are some basic thing...","{203: 'One', 204: 'the', 205: 'other', 206: 'h...","{203: ['One', 'NUM', 'CD', 'nummod'], 204: ['t..."
1119,505.0,13.0,232.0,punct,; he,. He,"For instance, there was one of the most famous...","{218: 'For', 219: 'instance', 220: ',', 221: '...","{218: ['For', 'ADP', 'IN', 'prep'], 219: ['ins...","For instance, there was one of the most famous...","{218: 'For', 219: 'instance', 220: ',', 221: '...","{218: ['For', 'ADP', 'IN', 'prep'], 219: ['ins..."
1481,900.0,6.0,126.0,punct,countries,"countries, it",Looking at other countries can be seen that th...,"{123: 'Looking', 124: 'at', 125: 'other', 126:...","{123: ['Looking', 'VERB', 'VBG', 'csubjpass'],...","Looking at other countries, it can be seen tha...","{123: 'Looking', 124: 'at', 125: 'other', 126:...","{123: ['Looking', 'VERB', 'VBG', 'advcl'], 124..."
1483,943.0,5.0,90.0,punct,countries,"countries, it",In the other countries was the opposite situat...,"{87: 'In', 88: 'the', 89: 'other', 90: 'countr...","{87: ['In', 'ADP', 'IN', 'prep'], 88: ['the', ...","In the other countries, it was the opposite si...","{87: 'In', 88: 'the', 89: 'other', 90: 'countr...","{87: ['In', 'ADP', 'IN', 'prep'], 88: ['the', ..."
1725,273.0,6.0,63.0,punct,essay,"essay, I",So in this essay will be demonstrates both poi...,"{60: 'So', 61: 'in', 62: 'this', 63: 'essay', ...","{60: ['So', 'ADV', 'RB', 'cc'], 61: ['in', 'AD...","So in this essay, I will be demonstrates both ...","{60: 'So', 61: 'in', 62: 'this', 63: 'essay', ...","{60: ['So', 'ADV', 'RB', 'advmod'], 61: ['in',..."
1811,1570.0,10.0,172.0,punct,for getting,", to get","Firstly, it is impossible to exept liers and k...","{134: 'Firstly', 135: ',', 136: 'it', 137: 'is...","{134: ['Firstly', 'ADV', 'RB', 'advmod'], 135:...","Firstly, it is impossible to exept liers and k...","{134: 'Firstly', 135: ',', 136: 'it', 137: 'is...","{134: ['Firstly', 'ADV', 'RB', 'advmod'], 135:..."
2262,728.0,11.0,187.0,punct,new zealand an uk.,"New Zealand and the UK,",the impressive results among others show count...,"{179: 'the', 180: 'impressive', 181: 'results'...","{179: ['the', 'DET', 'DT', 'det'], 180: ['impr...",the impressive results among others show count...,"{179: 'the', 180: 'impressive', 181: 'results'...","{179: ['the', 'DET', 'DT', 'det'], 180: ['impr..."
2761,1503.0,12.0,301.0,punct,study,study. It,"From my humble opinion, every person should ha...","{288: 'From', 289: 'my', 290: 'humble', 291: '...","{288: ['From', 'ADP', 'IN', 'prep'], 289: ['my...","From my humble opinion, every person should ha...","{288: 'From', 289: 'my', 290: 'humble', 291: '...","{288: ['From', 'ADP', 'IN', 'prep'], 289: ['my..."
2916,1404.0,3.0,38.0,punct,"think,",thinks,"One part think, that education should be provi...","{36: 'One', 37: 'part', 38: 'think', 39: ',', ...","{36: ['One', 'NUM', 'CD', 'nummod'], 37: ['par...",One part thinks that education should be provi...,"{36: 'One', 37: 'part', 38: 'thinks', 39: 'tha...","{36: ['One', 'NUM', 'CD', 'nummod'], 37: ['par..."
2917,1404.0,3.0,58.0,punct,"think,",thinks,"One part think, that education should be provi...","{36: 'One', 37: 'part', 38: 'think', 39: ',', ...","{36: ['One', 'NUM', 'CD', 'nummod'], 37: ['par...","One part think, that education should be provi...","{36: 'One', 37: 'part', 38: 'think', 39: ',', ...","{36: ['One', 'NUM', 'CD', 'nummod'], 37: ['par..."
3010,858.0,12.0,186.0,punct,UK,"UK, it","In Japan, USA and UK did not exceeded 8%.","{181: 'In', 182: 'Japan', 183: ',', 184: 'USA'...","{181: ['In', 'ADP', 'IN', 'prep'], 182: ['Japa...","In Japan, USA and UK, it did not exceeded 8%.","{181: 'In', 182: 'Japan', 183: ',', 184: 'USA'...","{181: ['In', 'ADP', 'IN', 'prep'], 182: ['Japa..."

In [402]:
for el in punctuation.values:
  print(el[4])
  print(el[5])
  print(el[6])
  print(el[9])
  print('\n')

78%
, 78%
As Africa Today had recenly reported 78% of students living in Africa simply do not have enough income to pay for University. Moreover, there are some professions requiring special education and equipment.
As Africa Today had recenly reported, 78% of students living in Africa simply do not have enough income to pay for University. Moreover, there are some professions requiring special education and equipment.


1995.0
1995.0
Only germany saw a slight increase from 1990 to 1995 To sum up, there is a general tendency of a decline in income difference between men and women, which is quite positive.
Only germany saw a slight increase from 1990 to 1995.0 To sum up, there is a general tendency of a decline in income difference between men and women, which is quite positive.


1995.0
1995.0
As we can see Japans dinamics on the graph, shows stable decrease of unequality of incomes for 10 years since 1985 to 1995 Those dinamic is represents all of the countries on the graph, exept the Germany, where we can see that persentage of diffference of male and female earnings slightly rising in the last 5 years of researching. As we can see, this graph shows us a steady drop of difference between male and female incomes.
As we can see Japans dinamics on the graph, shows stable decrease of unequality of incomes for 10 years since 1985 to 1995.0 Those dinamic is represents all of the countries on the graph, exept the Germany, where we can see that persentage of diffference of male and female earnings slightly rising in the last 5 years of researching. As we can see, this graph shows us a steady drop of difference between male and female incomes.


,
. A
In UK difference decreased from around 36 by 13 percent, similar fall was in USA, but where it started with 39 percent and ended with 20.
In UK difference decreased from around 36 by 13 percent. A similar fall was in USA, but where it started with 39 percent and ended with 20.


, it
. That
Moreover, school eduction or at least elementary one is obligatory in most countries, it means everybody should have this education. It will be very extremely unfair if all people have to study, but not everyone could afford it.
Moreover, school eduction or at least elementary one is obligatory in most countries. That means everybody should have this education. It will be very extremely unfair if all people have to study, but not everyone could afford it.


.
?
For instance, a lot of famous people as Lomonosov or Mendeleev had very poor financial support, but got education, but how many potentially great scientists, musicians, politics and poets did not get it and did not show theirs talents to humanity. Secondly, education for everyone lets to make step forward in progress of all civilization.
For instance, a lot of famous people as Lomonosov or Mendeleev had very poor financial support, but got education, but how many potentially great scientists, musicians, politics and poets did not get it and did not show theirs talents to humanity? Secondly, education for everyone lets to make step forward in progress of all civilization.


.
,
In Germany the difference plummed by more than 10% in 10 years. but after that raised slowly and showed 12% of difference of salaries in 1995.
In Germany the difference plummed by more than 10% in 10 years, but after that raised slowly and showed 12% of difference of salaries in 1995.


.
,
According to the graph. in 1980 USA rate was almost as high as Japan and was almost 40%.
According to the graph, in 1980 USA rate was almost as high as Japan and was almost 40%.


.
?
Thus, how can perspective programmer get into IT sphere if he has n't learned the basement of mathematics and computer science. Secondly, differnt level of access to education creates class inequality.
Thus, how can perspective programmer get into IT sphere if he has n't learned the basement of mathematics and computer science? Secondly, differnt level of access to education creates class inequality.


.
?
Of course, there were, are and will be people who would think that education will not help them anyway, so why spending money or time on that. For the first matter the education SHOULD be available for free in every corner of the modern world.
Of course, there were, are and will be people who would think that education will not help them anyway, so why spending money or time on that? For the first matter the education SHOULD be available for free in every corner of the modern world.


.
,
Overall. while statistics for all countries experienced significant changes through the period, all countries demonstrated a decreasing long-run trend.
Overall, while statistics for all countries experienced significant changes through the period, all countries demonstrated a decreasing long-run trend.


.
,
That is to say that education ultimately thrives the mankind. and it is our duty as human being to foster mankind.
That is to say that education ultimately thrives the mankind, and it is our duty as human being to foster mankind.


.

The percentage difference in income between genders has decreased by about 10 percent in Japan, Germany, New Zeland and the UK, and by 20 percents in the USA.
The percentage difference in income between genders has decreased by about 10 percent in Japan, Germany, New Zeland and the UK, and by 20 percents in the USA


.
,
People from Japan have maximum earnings, and this was in 1985. and most little of earning have people from Germany in 1990, but men and women from Germany do not have minimum earnings in end, In start three and two countries have about amount of earnings (Japan, the UK, USA and New Zealand, Germany). People from UK and New Zealand become have better earning than people from another country between 1980 and 1985.
People from Japan have maximum earnings, and this was in 1985, and most little of earning have people from Germany in 1990, but men and women from Germany do not have minimum earnings in end, In start three and two countries have about amount of earnings (Japan, the UK, USA and New Zealand, Germany). People from UK and New Zealand become have better earning than people from another country between 1980 and 1985.


.
,
Secondly. every year the world shows new things such as a virus, for example, Covid-19 and people should research this and help people, who need it.
Secondly, every year the world shows new things such as a virus, for example, Covid-19 and people should research this and help people, who need it.


.
,
In fact. the njtjrious soft skill essential for a well-balanced personatity.
In fact, the njtjrious soft skill essential for a well-balanced personatity.


.

It. can really can be helpful in developing our future By the way there are some people who disagree with this point of view.
It  can really can be helpful in developing our future By the way there are some people who disagree with this point of view.


.
,
As regards the USA. it also came down considerably up to 1995 and accounted for around 20%/ Regarding New Zeland and Germany, the percentage was similar in 1984 (nearly 20%) and it declined slightly in 1985 and accounted for approximatelly 11%.
As regards the USA, it also came down considerably up to 1995 and accounted for around 20%/ Regarding New Zeland and Germany, the percentage was similar in 1984 (nearly 20%) and it declined slightly in 1985 and accounted for approximatelly 11%.


.
,
In conclusion. authorities should pay an attention to free education for every citizen: because it will have a positive impact on population and on country in all.
In conclusion, authorities should pay an attention to free education for every citizen: because it will have a positive impact on population and on country in all.


.
,
In conclusion, most of us thinks that every human have right to be educated. especially free.
In conclusion, most of us thinks that every human have right to be educated, especially free.


.
,
the number are devastating. considering this graph was made from the statistics of developed countries such as the USA, UK, and other economically developed countries.
the number are devastating, considering this graph was made from the statistics of developed countries such as the USA, UK, and other economically developed countries.


.
,
However, while in 4 out of 5 countries, shown on the graph the smallest difference was spotted in year 1995. it is not the same in Germany, where the lowest results were spotted in year 1990 and the percentage difference just started increasing after. In 1980, Japan was the country that has the largest gap income, at 40 percents, followed shortly after by USA with approximately 38 percents.
However, while in 4 out of 5 countries, shown on the graph the smallest difference was spotted in year 1995, it is not the same in Germany, where the lowest results were spotted in year 1990 and the percentage difference just started increasing after. In 1980, Japan was the country that has the largest gap income, at 40 percents, followed shortly after by USA with approximately 38 percents.


.

That is why education can not be considered as. a privilege of a wealthy people or some kind of a luxury.
That is why education can not be considered as  a privilege of a wealthy people or some kind of a luxury.


.
,
For example, let's take a look into history. where we can see that governments which provided education to most of their citizens had a faster growing economy, was more successful, and overall the life was more pleassant as education would have an effect on all spheres.
For example, let's take a look into history, where we can see that governments which provided education to most of their citizens had a faster growing economy, was more successful, and overall the life was more pleassant as education would have an effect on all spheres.


.

However, I still hold the opinion. that education is truly a basic human right, but to survive one does not nesessarily need to move throuth all its stages: from attending seconday school to getting a bachelors' degree.
However, I still hold the opinion  that education is truly a basic human right, but to survive one does not nesessarily need to move throuth all its stages: from attending seconday school to getting a bachelors' degree.


.
,
Overall. the graph shows that in all countries percentage of difference in salaries has dropped dramatically by around 10 per cent.
Overall, the graph shows that in all countries percentage of difference in salaries has dropped dramatically by around 10 per cent.


.
,
and he/ she can do some mistakes. and the resualtes of exams will be bad.
and he/ she can do some mistakes, and the resualtes of exams will be bad.


.

What is more, the differences in income in Germany and New Zealand fall in ten percent that is not such as marked than in the USA. (from 23 to 13 per centage in Germany, from 20% to 10% in New Zealand).
What is more, the differences in income in Germany and New Zealand fall in ten percent that is not such as marked than in the USA  (from 23 to 13 per centage in Germany, from 20% to 10% in New Zealand).


.
,
One other moment, if you a very clever child in a poor family. I think in this case we can take help from investors.
One other moment, if you a very clever child in a poor family, I think in this case we can take help from investors.


.
,
So to manage such task school should't be complex system, school stuff for example teachers are not required to be scientists, the best of the best The just have to know how to communicate with kids. how to burst interest to new knowlege in them.
So to manage such task school should't be complex system, school stuff for example teachers are not required to be scientists, the best of the best The just have to know how to communicate with kids, how to burst interest to new knowlege in them.


.
?
The idea that education, including schools and universities, needs to be free and debates around this idea are very old, and it is impossible to discuss without answer to the first question: is education the privelegy for the noble and rich people or is it the human right as for example similarly discussed medicine rights. I suppose that answer to this question is only one, but unfortunately there are two radical different positions.
The idea that education, including schools and universities, needs to be free and debates around this idea are very old, and it is impossible to discuss without answer to the first question: is education the privelegy for the noble and rich people or is it the human right as for example similarly discussed medicine rights? I suppose that answer to this question is only one, but unfortunately there are two radical different positions.


.
,
Firstly. equality which is the core of getting same quality of education to everyone.
Firstly, equality which is the core of getting same quality of education to everyone.


.

Why did authors selected Germany instead of,. for instance, France?
Why did authors selected Germany instead of,  for instance, France?


.
,
Each of us have a birth in a different families. countries and often in families without a lot of money.
Each of us have a birth in a different families, countries and often in families without a lot of money.


.
,
276 To sum up, I still consider that education should be free for all students. but u can apply for University just if you are clever enough.
276 To sum up, I still consider that education should be free for all students, but u can apply for University just if you are clever enough.


.

The line graph depicts the differnce of income between men and women in five countries (Japan, United States of America, United Kingdom,. Germany and New Zealand) between 1980 and 1995 in percents.
The line graph depicts the differnce of income between men and women in five countries (Japan, United States of America, United Kingdom,  Germany and New Zealand) between 1980 and 1995 in percents.


.
?
And if one person has right to study, why the other person can get it. The biggest problem in this case is money.
And if one person has right to study, why the other person can get it? The biggest problem in this case is money.


.
,
All in all, education the most part of education should be provided for everyone. because this is our basic human right.
All in all, education the most part of education should be provided for everyone, because this is our basic human right.


.
?
What for to take in university student who do n't wish about education. But you will say: how about people that want to study a lot and to graduate the university, but they do n't have money at all.
What for to take in university student who do n't wish about education? But you will say: how about people that want to study a lot and to graduate the university, but they do n't have money at all.


.
?
But you will say: how about people that want to study a lot and to graduate the university, but they do n't have money at all. I think the decision is finding a way for it.
But you will say: how about people that want to study a lot and to graduate the university, but they do n't have money at all? I think the decision is finding a way for it.


. Because
because
37 On the one hand, there will be difficult for government to pay for all schools and universities in their countries. Because if the education is free it must be paid from the government.
37 On the one hand, there will be difficult for government to pay for all schools and universities in their countries because if the education is free it must be paid from the government.


. Because,
, because
First, a free education have to be given those which passed their exams in school well. Because, some of students do not want to study at all, and for governments it will be just a waste of money that can be treated for something usefull.
First, a free education have to be given those which passed their exams in school well, because some of students do not want to study at all, and for governments it will be just a waste of money that can be treated for something usefull.


. But
,
Although there are some people who justify education being expensive explaining that it is done so the schools, colleges and universities are not overcrowded and there will be enough space for the ones who are willing to study. But I assume this is completely wrong and this is a duty of government to establish favourable conditions for everyone and to provide enough places and opportunities for people to be educated.
Although there are some people who justify education being expensive explaining that it is done so the schools, colleges and universities are not overcrowded and there will be enough space for the ones who are willing to study, I assume this is completely wrong and this is a duty of government to establish favourable conditions for everyone and to provide enough places and opportunities for people to be educated.


. Gradual
gradual
Japan is also a bit different from the other countries, since their decrees has remained. Gradual throughout the whole given period, as other countries had a slightly more slow change after 1990 almost becoming stabilized.
Japan is also a bit different from the other countries, since their decrees has remained gradual throughout the whole given period, as other countries had a slightly more slow change after 1990 almost becoming stabilized.


. i
, I
In conclusion. i want to say that in today's world of equar rights, everyone should receive education.
In conclusion, I want to say that in today's world of equar rights, everyone should receive education.


. Their
э=-@ their
One the other hand, there are some basic thing that every people must know. Their language, bare phisics low, math, cultural features and more.
One the other hand, there are some basic thing that every people must know э=-@ their language, bare phisics low, math, cultural features and more.


; he
. He
For instance, there was one of the most famous Russian scientists Michail Lomonosov; he was from average family. But he was very talented and the government invested in his skills.
For instance, there was one of the most famous Russian scientists Michail Lomonosov. He was from average family. But he was very talented and the government invested in his skills.


Also
Also, a
Also system of grants is usefull because poor but talanted students can get their chance and make the world only better by their more cualified job. But this system should be precise enough to not drop the value of high education.
Also, a system of grants is usefull because poor but talanted students can get their chance and make the world only better by their more cualified job. But this system should be precise enough to not drop the value of high education.


countries
countries, it
Looking at other countries can be seen that there is no high peaks of getting income. For instance at the beginning UK had around 36 percent but what happens further, it goes down fairly fast and in 1995 they had less than 25 percent.
Looking at other countries, it can be seen that there is no high peaks of getting income. For instance at the beginning UK had around 36 percent but what happens further, it goes down fairly fast and in 1995 they had less than 25 percent.


countries
countries, it
In the other countries was the opposite situation. The earning in New Zealand, the Usa, the UK and Germany stood at 20, 30, approximately 32.5 and 10 percent respectively.
In the other countries, it was the opposite situation. The earning in New Zealand, the Usa, the UK and Germany stood at 20, 30, approximately 32.5 and 10 percent respectively.


countries
countries, a
In other countries similar effect did not appeared. In 1995 Germany and New Zealand had almost the same rate between 10 and 15 percent which is minimal among all countries.